In [8]:
import fastf1
from fastf1 import _api as api
from fastf1.logger import (
    get_logger,
    soft_exceptions
)
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import datetime

session = fastf1.get_session(2021, "Abu", 'R')

logger      WARNING 	Failed to load schedule from FastF1 backend!
req            INFO 	No cached data found for season_schedule. Loading data...
_api           INFO 	Fetching season schedule...
req            INFO 	Data has been written to cache!

In [9]:
_logger = get_logger('api')

EMPTY_LAPS = {'Time': pd.NaT, 'Driver': '', 'LapTime': pd.NaT,
              'NumberOfLaps': np.nan, 'NumberOfPitStops': np.nan,
              'PitOutTime': pd.NaT, 'PitInTime': pd.NaT,
              'Sector1Time': pd.NaT, 'Sector2Time': pd.NaT,
              'Sector3Time': pd.NaT, 'Sector1SessionTime': pd.NaT,
              'Sector2SessionTime': pd.NaT, 'Sector3SessionTime': pd.NaT,
              'SpeedI1': np.nan, 'SpeedI2': np.nan, 'SpeedFL': np.nan,
              'SpeedST': np.nan, 'IsPersonalBest': False}

EMPTY_STREAM = {'Time': pd.NaT, 'Driver': '', 'Position': np.nan,
                'GapToLeader': np.nan, 'IntervalToPositionAhead': np.nan}

In [10]:
def _extended_timing_data(path, response=None, livedata=None):
    # extended over the documentation of ``timing_data``:
    #   - returns session_split_times for splitting Q1/Q2/Q3 additionally
    # possible optional sanity checks (TODO, maybe):
    #   - inlap has to be followed by outlap
    #   - pit stops may never be negative (missing outlap)
    #   - speed traps against telemetry (especially in Q FastLap - Slow Lap)
    if livedata is not None and livedata.has('TimingData'):
        response = livedata.get('TimingData')
    elif response is None:  # no previous response provided
        _logger.info("Fetching timing data...")
        response = api.fetch_page(path, 'timing_data')
        if response is None:  # no response received
            raise SessionNotAvailableError(
                "No data for this session! If this session only finished "
                "recently, please try again in a few minutes."
            )
    _logger.info("Parsing timing data...")

    # split up response per driver for easier iteration and processing later
    resp_per_driver = dict()
    for entry in response:
        if (len(entry) < 2) or 'Lines' not in entry[1]:
            continue
        for drv in entry[1]['Lines']:
            if drv not in resp_per_driver.keys():
                resp_per_driver[drv] = [(entry[0], entry[1]['Lines'][drv])]
            else:
                resp_per_driver[drv].append((entry[0], entry[1]['Lines'][drv]))

    # create empty data dicts and populate them with data from all drivers after that
    laps_data = {key: list() for key, val in EMPTY_LAPS.items()}
    stream_data = {key: list() for key, val in EMPTY_STREAM.items()}

    session_split_times = [datetime.timedelta(days=1), ] * 3

    return resp_per_driver



resp_per_driver = _extended_timing_data(session.api_path, livedata=None)

1778511725       INFO 	Fetching timing data...
1778511725       INFO 	Parsing timing data...

In [29]:
from fastf1.utils import (
    recursive_dict_get,
    to_datetime,
    to_timedelta
)

def _laps_data_driver(driver_raw, empty_vals, drv):
    """
    .. warning::
        :mod:`fastf1.api` will be considered private in future releases and
        potentially be removed or changed.

    Data is on a per-lap basis.

    Boolean flag 'PitOut' is not evaluated. Meaning is unknown and flag is only sometimes present when a car leaves
    the pits.

    Params:
        driver_raw (list): raw api response for this driver only [(Timestamp, data), (...), ...]
        empty_vals (dict): dictionary of column names and empty column values
        drv (str): driver identifier

    Returns:
         dictionary of laps data for this driver
    """

    integrity_errors = list()

    # do a quick first pass over the data to find out when laps start and end
    # this is needed so we can work with a more efficient "look ahead" on the main pass
    # example: we can have 'PitOut' 0.01s before a new lap starts, but 'PitOut' belongs to the new lap, not the old one

    lapcnt = 0  # we're keeping two separate lap counts because sometimes the api has a non existent lap too much...
    api_lapcnt = 0  # ...at the beginning; we can correct that though;
    # api_lapcnt does not count backwards even if the source data does
    in_past = False  # flag for when the data went back in time
    out_of_pit = False  # flag set to true when driver drives out FOR THE FIRST TIME; stays true from then on

    # entries are prefilled with empty values and only overwritten if they exist in the response line
    drv_data = {key: [val, ] for key, val in empty_vals.items()}

    for time, resp in driver_raw:
        # the first three ifs are just edge case handling for the rare sessions were the data goes back in time
        if in_past and 'NumberOfLaps' in resp and resp['NumberOfLaps'] == api_lapcnt:
            in_past = False  # we're back in the present

        if 'NumberOfLaps' in resp and ((prev_lapcnt := resp['NumberOfLaps']) < api_lapcnt):
            _logger.warning(f"Driver {drv: >2}: Ignoring late data for a "
                            f"previously processed lap.The data may contain "
                            f"errors (previous: {prev_lapcnt}; "
                            f"current {lapcnt})")
            in_past = True
            continue

        if in_past:  # still in the past, just continue and ignore everything
            continue

        if ('InPit' in resp) and (resp['InPit'] is False):
            out_of_pit = True  # drove out of the pits for the first time

        # new lap; create next row
        if 'NumberOfLaps' in resp and resp['NumberOfLaps'] > api_lapcnt:
            api_lapcnt += 1
            # make sure the car actually drove out of the pits already; it can't be a new lap if it didn't
            if out_of_pit:
                drv_data['Time'][lapcnt] = to_timedelta(time)
                lapcnt += 1
                # append a new empty row; last row may not be populated (depending on session) and may be removed later
                for key, val in empty_vals.items():
                    drv_data[key].append(val)

    # now, do the main pass where all the other data is actually filled in
    # same counters and flags as before, reset them
    lapcnt = 0  # we're keeping two separate lap counts because sometimes the api has a non existent lap too much...
    api_lapcnt = 0  # ...at the beginning; we can correct that though;
    # api_lapcnt does not count backwards even if the source data does
    in_past = False  # flag for when the data went back in time

    personal_best_lap_times = list()

    session_split_times = [datetime.timedelta(0)]
    # start times of (sub)sessions (Q1, Q2, Q3)

    pitstops = -1  # start with -1 because first is out lap, needs to be zero after that

    # iterate through the data; new lap triggers next row in data
    for time, resp in driver_raw:
        # the first three ifs are just edge case handling for the rare sessions were the data goes back in time
        if in_past and 'NumberOfLaps' in resp and resp['NumberOfLaps'] == api_lapcnt:
            in_past = False  # we're back in the present
        if in_past or ('NumberOfLaps' in resp and resp['NumberOfLaps'] < api_lapcnt):
            in_past = True
            continue

        # values which are up to five seconds late are still counted towards the previous lap
        # (sector times, speed traps and lap times)
        lap_offset = 0
        if (lapcnt > 0) and (to_timedelta(time) - drv_data['Time'][lapcnt - 1] < pd.Timedelta(5, 's')):
            lap_offset = 1

        if 'Sectors' in resp and isinstance(resp['Sectors'], dict):
            # sometimes it's a list but then it never contains values...
            for sn, sector, sesst in (('0', 'Sector1Time', 'Sector1SessionTime'),
                                      ('1', 'Sector2Time', 'Sector2SessionTime'),
                                      ('2', 'Sector3Time', 'Sector3SessionTime')):
                if val := recursive_dict_get(resp, 'Sectors', sn, 'Value'):
                    drv_data[sector][lapcnt - lap_offset] = to_timedelta(val)
                    drv_data[sesst][lapcnt - lap_offset] = to_timedelta(time)
        

        if val := recursive_dict_get(resp, 'LastLapTime', 'Value'):
            # if 'LastLapTime' is received less than five seconds after the start of a new lap, it is still added
            # to the last lap
            val = to_timedelta(val)
            if val.total_seconds() < 150:
                # laps which are longer than 150 seconds are ignored; usually this is the case between Q1, Q2 and Q3
                # because all three qualifying sessions are one session here. Those timestamps are often wrong and
                # sometimes associated with the wrong lap
                drv_data['LapTime'][lapcnt - lap_offset] = val

        if 'Speeds' in resp:
            for trapkey, trapname in (('I1', 'SpeedI1'), ('I2', 'SpeedI2'), ('FL', 'SpeedFL'), ('ST', 'SpeedST')):
                if val := recursive_dict_get(resp, 'Speeds', trapkey, 'Value'):
                    # speed has to be float because int does not support NaN
                    if trapkey == 'ST':
                        # the ST trap value can occur early enough in a new lap
                        # that it needs to be excluded from the usual offset
                        # logic, therefore the offset is ignored here
                        drv_data[trapname][lapcnt] = float(val)
                    else:
                        drv_data[trapname][lapcnt - lap_offset] = float(val)

        if 'InPit' in resp:
            # 'InPit': True is received once when entering pits, False is received once when leaving
            if resp['InPit'] is True:
                if pitstops >= 0:
                    drv_data['PitInTime'][lapcnt] = to_timedelta(time)
            elif ((('NumberOfLaps' in resp) and resp['NumberOfLaps'] > api_lapcnt)
                  or (drv_data['Time'][lapcnt] - to_timedelta(time))
                  < pd.Timedelta(5, 's')):
                # same response line as beginning of next lap
                # or beginning of next lap less than 5 seconds away
                drv_data['PitOutTime'][lapcnt + 1] = to_timedelta(time)  # add to next lap
                pitstops += 1
            else:
                drv_data['PitOutTime'][lapcnt] = to_timedelta(time)  # add to current lap
                pitstops += 1

        # Get save information about personal best lap times at the timestamp
        # at which this information was received.
        # Whenever a lap is deleted (if that happens quickly after it was set),
        # the previous 'BestLapTime' value is sent again. There is some extra
        # logic at then end that correctly marks personal best laps based on
        # the data that is saved here.
        if val := recursive_dict_get(resp, 'BestLapTime', 'Value'):
            personal_best_lap_times.append(
                (to_timedelta(time), to_timedelta(val))
            )

        # Create approximate (sub)session (i.e. quali) split times by
        # (mis)using the session number counter from 'BestLapTimes'.
        # (Note: those lap times cannot be used for correct personal best
        #  detection, because the previous value is not resent here when a lap
        #  is deleted.)
        if (val := resp.get('BestLapTimes')) and isinstance(val, dict):
            session_n = int(list(val.keys())[0])
            if (session_n + 1) > len(session_split_times):
                session_split_times.append(to_timedelta(time))

        # new lap; create next row
        if 'NumberOfLaps' in resp and resp['NumberOfLaps'] > api_lapcnt:
            api_lapcnt += 1
            # make sure the car actually drove out of the pits already; it can't be a new lap if it didn't
            if pitstops >= 0:
                drv_data['Time'][lapcnt] = to_timedelta(time)
                drv_data['NumberOfLaps'][lapcnt] = lapcnt + 1  # don't use F1's lap count; ours is better
                drv_data['NumberOfPitStops'][lapcnt] = pitstops
                drv_data['Driver'][lapcnt] = drv
                lapcnt += 1
        
    if lapcnt == 0:  # no data at all for this driver
        return None, None

    # done reading the data, do postprocessing

    def data_in_lap(lap_n):
        relevant = ('Sector1Time', 'Sector2Time', 'Sector3Time', 'SpeedI1', 'SpeedI2',
                    'SpeedFL', 'SpeedST', 'LapTime')
        for col in relevant:
            if not pd.isnull(drv_data[col][lap_n]):
                return True
        return False

    # 'NumberOfLaps' always introduces a new lap (can be a previous one) but sometimes there is one more lap at the end
    # in this case the data will be added as usual above, lap count and pit stops are added here and the 'Time' is
    # calculated below from sector times
    if data_in_lap(lapcnt):
        drv_data['NumberOfLaps'][lapcnt] = lapcnt + 1
        drv_data['NumberOfPitStops'][lapcnt] = pitstops
        drv_data['Driver'][lapcnt] = drv
    else:  # if there was no more data after the last lap count increase,
        # delete the last empty record
        for key in drv_data.keys():
            drv_data[key] = drv_data[key][:-1]
    if not data_in_lap(0):  # remove first lap if there's no data;
        # "pseudo outlap" that didn't exist
        for key in drv_data.keys():
            drv_data[key] = drv_data[key][1:]
        drv_data['NumberOfLaps'] = list(map(lambda n: n - 1, drv_data['NumberOfLaps']))  # reduce each lap count by one

    if not drv_data['Time']:
        # ensure that there is still data left after potentially removing a lap
        return drv_data, session_split_times

    for i in range(len(drv_data['Time'])):
        sector_sum = datetime.timedelta(0)
        na_sectors = list()  # list of keys for missing sector times
        for key in ('Sector1Time', 'Sector2Time', 'Sector3Time'):
            st = drv_data[key][i]
            if pd.isna(st):
                na_sectors.append(key)
                continue
            sector_sum += st

        # check for incorrect lap times and remove them
        # fixes GH#167 among others
        if sector_sum > drv_data['LapTime'][i]:
            drv_data['LapTime'][i] = pd.NaT
            integrity_errors.append(i + 1)

        if i == 0:
            # only do following corrections for 2nd lap and onwards
            continue

        # The API only sends and update if a state changes, therefore, if two
        # lap times or sector times are exactly equal, the second value will
        # be missing. Missing sector times and lap times are calculated here
        # based on the available values for a lap (max one may be missing). If
        # the calculated value matches the previous value, it will be set.

        # lap time is missing
        if (not na_sectors) and pd.isna(drv_data['LapTime'][i]) \
                and (drv_data['LapTime'][i - 1] == sector_sum):

            drv_data['LapTime'][i] = sector_sum

        # one sector time is missing
        elif (len(na_sectors) == 1) and not pd.isna(drv_data['LapTime'][i]):
            # create a list with the two keys for available sector times
            ref_sec = ['Sector1Time', 'Sector2Time', 'Sector3Time']
            ref_sec.remove(na_sectors[0])

            if (sec1 := (drv_data['LapTime'][i]
                         - drv_data[ref_sec[0]][i]
                         - drv_data[ref_sec[1]][i])) \
                    == drv_data[na_sectors[0]][i - 1]:

                drv_data[na_sectors[0]][i] = sec1

    # lap time sync; check which sector time was triggered with the lowest latency
    # Sector3SessionTime == end of lap
    # Sector2SessionTime + Sector3Time == end of lap
    # Sector1SessionTime + Sector2Time + Sector3Time == end of lap
    # all of these three have slightly different times; take earliest one -> most exact because can't trigger too early
    for i in range(len(drv_data['Time'])):
        sector_sum = pd.Timedelta(0)
        min_time = drv_data['Time'][i]
        for sector_time, session_time in ((pd.Timedelta(0), drv_data['Sector3SessionTime'][i]),
                                          (drv_data['Sector3Time'][i], drv_data['Sector2SessionTime'][i]),
                                          (drv_data['Sector2Time'][i], drv_data['Sector1SessionTime'][i])):
            if pd.isnull(session_time):
                continue
            if pd.isnull(sector_time):
                break  # need to stop here because else the sector sum will be incorrect

            sector_sum += sector_time
            new_time = session_time + sector_sum
            if not pd.isnull(new_time) and (new_time < min_time or pd.isnull(min_time)):
                min_time = new_time
        if i > 0 and min_time < drv_data['Time'][i - 1]:
            integrity_errors.append(i + 1)  # not be possible if sector times and lap time are correct
            continue

        drv_data['Time'][i] = min_time

    # last lap needs to be removed if it does not have a 'Time' and it could not be calculated (likely an inlap)
    if pd.isnull(drv_data['Time'][-1]):
        if not pd.isnull(drv_data['PitInTime'][-1]):
            drv_data['Time'][-1] = drv_data['PitInTime'][-1]
        else:
            for key in drv_data.keys():
                drv_data[key] = drv_data[key][:-1]

    if not drv_data['Time']:
        # ensure that there is still data left after potentially removing a lap
        return drv_data, session_split_times

    # more lap sync, this time check which lap triggered with the lowest latency
    for i in range(len(drv_data['Time']) - 1, 0, -1):
        if (new_time := drv_data['Time'][i] - drv_data['LapTime'][i]) < \
                drv_data['Time'][i - 1]:
            if i > 1 and new_time < drv_data['Time'][i - 2]:
                integrity_errors.append(i + 1)  # not be possible if sector times and lap time are correct
            else:
                drv_data['Time'][i - 1] = new_time

    # need to go both directions once to make everything match up; also recalculate sector times
    for i in range(len(drv_data['Time']) - 1):
        if any(pd.isnull(tst) for tst in (
                drv_data['Time'][i], drv_data['LapTime'][i + 1],
                drv_data['Sector1Time'][i + 1],
                drv_data['Sector2Time'][i + 1],
                drv_data['Sector3Time'][i + 1])):
            continue  # lap not usable, missing critical values
        
        if (new_time := drv_data['Time'][i] + drv_data['LapTime'][i+1]) \
                < drv_data['Time'][i+1]:
            drv_data['Time'][i+1] = new_time
            # print(i+1, new_time)

        if (new_s1_time := drv_data['Time'][i]
                + drv_data['Sector1Time'][i+1]) \
                < drv_data['Sector1SessionTime'][i+1]:
            drv_data['Sector1SessionTime'][i+1] = new_s1_time
        if (new_s2_time := drv_data['Time'][i] + drv_data['Sector1Time'][i+1]
                + drv_data['Sector2Time'][i+1]) \
                < drv_data['Sector2SessionTime'][i+1]:
            drv_data['Sector2SessionTime'][i+1] = new_s2_time
        if (new_s3_time := drv_data['Time'][i] + drv_data['Sector1Time'][i+1]
                + drv_data['Sector2Time'][i+1]
                + drv_data['Sector3Time'][i+1]) \
                < drv_data['Sector3SessionTime'][i+1]:
            drv_data['Sector3SessionTime'][i+1] = new_s3_time

    # Iterate over list of personal lap times set 'IsPersonalBest'.
    # When a lap is deleted, the API resends the previous personal best.
    # Therefore, by iterating in reverse, if any lap is encountered that is
    # quicker than already processed personal best lap times, it must have
    # been deleted.
    # This is just best effort but not exhaustive as it can only handle lap
    # times that were deleted quickly (before the next personal best was set).
    _corrected_personal_best_lap_times = list()
    # list is only used for backreference within the loop
    cur_sn = len(session_split_times) - 1
    # current (sub)session number, personal best lap times need to be
    # considered for each (sub)session individually
    for time, pb_lap_time in reversed(personal_best_lap_times):
        if time < session_split_times[cur_sn]:
            # transitioned into the previous (sub)session (reverse iteration!)
            # reset the reference list, so time are considered individually
            cur_sn -= 1
            _corrected_personal_best_lap_times = list()

        if _corrected_personal_best_lap_times:
            if pb_lap_time in _corrected_personal_best_lap_times:
                continue
            elif pb_lap_time < min(_corrected_personal_best_lap_times):
                continue

        _corrected_personal_best_lap_times.append(pb_lap_time)

        # find the index of the corresponding lap by comparing with the lap
        # times and set 'IsPersonalBest' to True for that lap
        try:
            pb_idx = drv_data['LapTime'].index(pb_lap_time)
        except ValueError:
            # one example case where this error occurs, are wildly of personal
            # best times (>2 min lap time) that are sometimes present and
            # which have no corresponding lap time
            pass
        else:
            drv_data['IsPersonalBest'][pb_idx] = True

    # fix the number of pit stops; due to potentially multiple laps to the grid
    # where a car goes through the pit lane before finally taking its place
    # on the grid, the number of pit stops on the first lap may be already
    # greater than zero; therefore, apply correction so that we start with zero
    pitstop_offset = drv_data['NumberOfPitStops'][0]
    for i in range(len(drv_data['NumberOfPitStops'])):
        drv_data['NumberOfPitStops'][i] -= pitstop_offset

    # fix first lap PitInTime; same reason as above for pit stops, there may
    # be an incorrect PitInTime on the first lap. There always is a PitOutTime
    # for when the car leaves the box for the lap to the grid. There is a
    # PitInTime if the car drives multiple laps to the grid, discard these.
    # There is also a PitInTime if the car actually pits at the end of the
    # first lap, those need to be kept.
    if drv_data['PitInTime'][0] < drv_data['PitOutTime'][0]:
        drv_data['PitInTime'][0] = pd.NaT

    if integrity_errors:
        _logger.warning(
            f"Driver {drv: >2}: Encountered {len(integrity_errors)} timing "
            f"integrity error(s) near lap(s): {integrity_errors}.\n"
            f"This might be a bug and should be reported.")
    

    return drv_data


# for drv in resp_per_driver.keys():
#     drv_laps_data, drv_session_split_times \
#         = _laps_data_driver(resp_per_driver[drv], EMPTY_LAPS, drv)
#     print(drv)
#     print(drv_laps_data)
#     break

drv = "6"
drv_laps_data \
    = _laps_data_driver(resp_per_driver[drv], EMPTY_LAPS, drv)
pd.DataFrame(drv_laps_data)

,Time,Driver,LapTime,NumberOfLaps,NumberOfPitStops,PitOutTime,PitInTime,Sector1Time,Sector2Time,Sector3Time,Sector1SessionTime,Sector2SessionTime,Sector3SessionTime,SpeedI1,SpeedI2,SpeedFL,SpeedST,IsPersonalBest
0,0 days 01:04:03.247000,6,NaT,1,0,0 days 00:22:43.957000,NaT,NaT,0 days 00:00:40.348000,0 days 00:00:36.131000,NaT,0 days 01:03:27.185000,0 days 01:04:03.363000,279.0,277.0,212.0,302.0,False
1,0 days 01:05:37.792000,6,0 days 00:01:34.545000,2,0,NaT,NaT,0 days 00:00:19.131000,0 days 00:00:39.368000,0 days 00:00:36.046000,0 days 01:04:22.378000,0 days 01:05:01.746000,0 days 01:05:37.792000,286.0,303.0,207.0,298.0,True
2,0 days 01:07:11.028000,6,0 days 00:01:33.236000,3,0,NaT,NaT,0 days 00:00:18.869000,0 days 00:00:39.611000,0 days 00:00:34.756000,0 days 01:05:56.661000,0 days 01:06:36.272000,0 days 01:07:11.028000,284.0,297.0,211.0,317.0,True
3,0 days 01:08:43.332000,6,0 days 00:01:32.304000,4,0,NaT,NaT,0 days 00:00:18.654000,0 days 00:00:39.218000,0 days 00:00:34.432000,0 days 01:07:29.682000,0 days 01:08:08.900000,0 days 01:08:43.332000,279.0,296.0,210.0,304.0,True
4,0 days 01:10:15.087000,6,0 days 00:01:31.755000,5,0,NaT,NaT,0 days 00:00:18.719000,0 days 00:00:38.993000,0 days 00:00:34.043000,0 days 01:09:02.051000,0 days 01:09:41.044000,0 days 01:10:15.087000,284.0,305.0,209.0,307.0,True
5,0 days 01:11:47.090000,6,0 days 00:01:32.003000,6,0,NaT,NaT,0 days 00:00:18.689000,0 days 00:00:39.006000,0 days 00:00:34.308000,0 days 01:10:33.776000,0 days 01:11:12.782000,0 days 01:11:47.090000,279.0,302.0,211.0,304.0,False
6,0 days 01:13:18.468000,6,0 days 00:01:31.378000,7,0,NaT,NaT,0 days 00:00:18.538000,0 days 00:00:38.777000,0 days 00:00:34.063000,0 days 01:12:05.628000,0 days 01:12:44.405000,0 days 01:13:18.468000,284.0,301.0,211.0,307.0,True
7,0 days 01:14:50.263000,6,0 days 00:01:31.795000,8,0,NaT,NaT,0 days 00:00:18.591000,0 days 00:00:39.049000,0 days 00:00:34.155000,0 days 01:13:37.059000,0 days 01:14:16.108000,0 days 01:14:50.263000,286.0,300.0,210.0,302.0,False
8,0 days 01:16:21.967000,6,0 days 00:01:31.704000,9,0,NaT,NaT,0 days 00:00:18.538000,0 days 00:00:39.223000,0 days 00:00:33.943000,0 days 01:15:08.801000,0 days 01:15:48.024000,0 days 01:16:21.967000,277.0,289.0,212.0,299.0,False
9,0 days 01:17:53.356000,6,0 days 00:01:31.389000,10,0,NaT,NaT,0 days 00:00:18.554000,0 days 00:00:39.132000,0 days 00:00:33.703000,0 days 01:16:40.521000,0 days 01:17:19.653000,0 days 01:17:53.356000,279.0,295.0,211.0,298.0,False
10,0 days 01:19:24.867000,6,0 days 00:01:31.511000,11,0,NaT,NaT,0 days 00:00:18.540000,0 days 00:00:39.021000,0 days 00:00:33.950000,0 days 01:18:11.896000,0 days 01:18:50.917000,0 days 01:19:24.867000,278.0,289.0,210.0,297.0,False
11,0 days 01:20:55.838000,6,0 days 00:01:30.971000,12,0,NaT,NaT,0 days 00:00:18.518000,0 days 00:00:38.888000,0 days 00:00:33.565000,0 days 01:19:43.385000,0 days 01:20:22.273000,0 days 01:20:55.838000,279.0,291.0,212.0,298.0,True
12,0 days 01:22:26.916000,6,0 days 00:01:31.078000,13,0,NaT,NaT,0 days 00:00:18.511000,0 days 00:00:38.886000,0 days 00:00:33.681000,0 days 01:21:14.349000,0 days 01:21:53.235000,0 days 01:22:26.916000,NaN,288.0,212.0,298.0,False
13,0 days 01:23:57.848000,6,0 days 00:01:30.932000,14,0,NaT,NaT,0 days 00:00:18.451000,0 days 00:00:38.884000,0 days 00:00:33.597000,0 days 01:22:45.367000,0 days 01:23:24.251000,0 days 01:23:57.848000,280.0,288.0,212.0,295.0,True
14,0 days 01:25:28.982000,6,0 days 00:01:31.134000,15,0,NaT,NaT,0 days 00:00:18.481000,0 days 00:00:38.998000,0 days 00:00:33.655000,0 days 01:24:16.329000,0 days 01:24:55.327000,0 days 01:25:28.982000,NaN,290.0,212.0,291.0,False
15,0 days 01:27:00.029000,6,0 days 00:01:31.047000,16,0,NaT,NaT,0 days 00:00:18.412000,0 days 00:00:38.944000,0 days 00:00:33.691000,0 days 01:25:47.394000,0 days 01:26:26.338000,0 days 01:27:00.029000,279.0,289.0,213.0,297.0,False
16,0 days 01:28:31.920000,6,0 days 00:01:31.891000,17,0,NaT,NaT,0 days 00:00:18.542000,0 days 00:00:39.173000,0 days 00:00:34.176000,0 days 01:27:18.571000,0 days 01:27:57.744000,0 days 01:28:31.920000,280.0,292.0,212.0,279.0,False
17,0 days 01:30:02.832000,6,0 days 00:01:30.912000,18,0,NaT,NaT,0 days 00:00:18.450000,0 days 00:00:38.917000,0 days 00:00:33.545000,0 days 01:28:50.370000,0 days 01:29:29.287000,0 days 01:30:02.832000,281.0,291.0,211.0,297.0,True
18,0 days 01:31:33.716000,6,0 days 00:01:30.884000,19,0,NaT,NaT,0 days 00:00:18.479000,0 days 00:00:38.820000,0 days 00:00:33.585000,0 days 01:30:21.311000,0 days 01:31:00.131000,0 days 01:31:33.716000,282.0,289.0,213.0,296.0,True
19,0 days 01:33:06.033000,6,0 days 00:01:32.317000,20,0,NaT,NaT,0 days 00:00:18.303000,0 days 00:00:39.324000,0 days 00:00:34.690000,0 days 01:31:52.019000,0 days 01:32:31.343000,0 days 01:33:06.033000,280.0,274.0,211.0,300.0,False
20,0 days 01:34:36.919000,6,0 days 00:01:30.886000,21,0,NaT,NaT,0 days 00:00:18.507000,0 days 00:00:38.758000,0 days 00:00:33.621000,0 days 01:33:24.540000,0 days 01:34:03.298000,0 days 01:34:36.919000,283.0,290.0,212.0,299.0,False
21,0 days 01:36:09.041000,6,0 days 00:01:32.122000,22,0,NaT,NaT,0 days 00:00:18.383000,0 days 00:00:39.085000,0 days 00:00:34.654000,0 days 01:34:55.302000,0 days 01:35:34.387000,0 days 01:36:09.041000,280.0,272.0,213.0,292.0,False
22,0 days 01:37:39.844000,6,0 days 00:01:30.803000,23,0,NaT,NaT,0 days 00:00:18.442000,0 days 00:00:38.759000,0 days 00:00:33.602000,0 days 01:36:27.483000,0 days 01:37:06.242000,0 days 01:37:39.844000,285.0,293.0,211.0,298.0,True
23,0 days 01:39:10.779000,6,0 days 00:01:30.935000,24,0,NaT,NaT,0 days 00:00:18.484000,0 days 00:00:38.816000,0 days 00:00:33.635000,0 days 01:37:58.328000,0 days 01:38:37.144000,0 days 01:39:10.779000,281.0,287.0,213.0,298.0,False
24,0 days 01:40:41.834000,6,0 days 00:01:31.055000,25,0,NaT,NaT,0 days 00:00:18.401000,0 days 00:00:38.940000,0 days 00:00:33.714000,0 days 01:39:29.180000,0 days 01:40:08.120000,0 days 01:40:41.834000,282.0,290.0,212.0,297.0,False
25,0 days 01:42:12.901000,6,0 days 00:01:31.067000,26,0,NaT,NaT,0 days 00:00:18.533000,0 days 00:00:38.969000,0 days 00:00:33.565000,0 days 01:41:00.367000,0 days 01:41:39.336000,0 days 01:42:12.901000,NaN,285.0,211.0,298.0,False
26,0 days 01:43:45.398000,6,0 days 00:01:32.497000,27,0,NaT,NaT,0 days 00:00:18.488000,0 days 00:00:39.004000,0 days 00:00:35.005000,0 days 01:42:31.389000,0 days 01:43:10.393000,0 days 01:43:45.398000,280.0,302.0,211.0,296.0,False
27,0 days 01:45:19.564000,6,0 days 00:01:34.166000,28,0,NaT,0 days 01:45:18.551000,0 days 00:00:18.629000,0 days 00:00:39.332000,0 days 00:00:36.205000,0 days 01:44:04.027000,0 days 01:44:43.359000,0 days 01:45:19.564000,287.0,295.0,NaN,303.0,False
28,0 days 01:47:09.344000,6,0 days 00:01:49.780000,29,1,0 days 01:45:39.815000,NaT,0 days 00:00:38.163000,0 days 00:00:38.563000,0 days 00:00:33.054000,0 days 01:45:57.727000,0 days 01:46:36.290000,0 days 01:47:09.344000,282.0,294.0,215.0,297.0,False
29,0 days 01:48:38.637000,6,0 days 00:01:29.293000,30,1,NaT,NaT,0 days 00:00:18.179000,0 days 00:00:38.269000,0 days 00:00:32.845000,0 days 01:47:27.523000,0 days 01:48:05.792000,0 days 01:48:38.637000,280.0,291.0,216.0,295.0,True
30,0 days 01:50:08.030000,6,0 days 00:01:29.393000,31,1,NaT,NaT,0 days 00:00:18.003000,0 days 00:00:38.467000,0 days 00:00:32.923000,0 days 01:48:56.640000,0 days 01:49:35.107000,0 days 01:50:08.030000,277.0,290.0,216.0,294.0,False
31,0 days 01:51:37.461000,6,0 days 00:01:29.431000,32,1,NaT,NaT,0 days 00:00:18.042000,0 days 00:00:38.423000,0 days 00:00:32.966000,0 days 01:50:26.072000,0 days 01:51:04.495000,0 days 01:51:37.461000,281.0,294.0,217.0,294.0,False
32,0 days 01:53:07.003000,6,0 days 00:01:29.542000,33,1,NaT,NaT,0 days 00:00:18.068000,0 days 00:00:38.497000,0 days 00:00:32.977000,0 days 01:51:55.529000,0 days 01:52:34.026000,0 days 01:53:07.003000,280.0,292.0,217.0,297.0,False
33,0 days 01:54:36.533000,6,0 days 00:01:29.530000,34,1,NaT,NaT,0 days 00:00:17.906000,0 days 00:00:38.456000,0 days 00:00:33.168000,0 days 01:53:24.909000,0 days 01:54:03.365000,0 days 01:54:36.533000,283.0,289.0,217.0,298.0,False
34,0 days 01:56:24.109000,6,0 days 00:01:47.576000,35,1,NaT,NaT,0 days 00:00:17.852000,0 days 00:00:47.579000,0 days 00:00:42.145000,0 days 01:54:54.385000,0 days 01:55:41.964000,0 days 01:56:24.109000,281.0,166.0,198.0,256.0,False
35,0 days 01:58:17.679000,6,0 days 00:01:53.570000,36,1,NaT,NaT,0 days 00:00:25.373000,0 days 00:00:49.392000,0 days 00:00:38.805000,0 days 01:56:49.482000,0 days 01:57:38.874000,0 days 01:58:17.679000,133.0,207.0,214.0,193.0,False
36,0 days 01:59:48.977000,6,0 days 00:01:31.298000,37,1,NaT,NaT,0 days 00:00:18.495000,0 days 00:00:38.469000,0 days 00:00:34.334000,0 days 01:58:36.174000,0 days 01:59:14.643000,0 days 01:59:48.977000,289.0,321.0,216.0,319.0,False
37,0 days 02:01:18.821000,6,0 days 00:01:29.844000,38,1,NaT,NaT,0 days 00:00:18.157000,0 days 00:00:38.400000,0 days 00:00:33.287000,0 days 02:00:07.134000,0 days 02:00:45.534000,0 days 02:01:18.821000,290.0,296.0,218.0,303.0,False
38,0 days 02:02:48.718000,6,0 days 00:01:29.897000,39,1,NaT,NaT,0 days 00:00:17.990000,0 days 00:00:38.539000,0 days 00:00:33.368000,0 days 02:01:36.811000,0 days 02:02:15.350000,0 days 02:02:48.718000,284.0,295.0,218.0,300.0,False
39,0 days 02:04:18.345000,6,0 days 00:01:29.627000,40,1,NaT,NaT,0 days 00:00:17.860000,0 days 00:00:38.343000,0 days 00:00:33.424000,0 days 02:03:06.578000,0 days 02:03:44.921000,0 days 02:04:18.345000,292.0,296.0,218.0,299.0,False
40,0 days 02:05:48.021000,6,0 days 00:01:29.676000,41,1,NaT,NaT,0 days 00:00:17.999000,0 days 00:00:38.325000,0 days 00:00:33.352000,0 days 02:04:36.344000,0 days 02:05:14.669000,0 days 02:05:48.021000,291.0,298.0,215.0,304.0,False
41,0 days 02:07:17.563000,6,0 days 00:01:29.542000,42,1,NaT,NaT,0 days 00:00:17.939000,0 days 00:00:38.371000,0 days 00:00:33.232000,0 days 02:06:05.960000,0 days 02:06:44.331000,0 days 02:07:17.563000,288.0,302.0,217.0,303.0,False
42,0 days 02:08:46.900000,6,0 days 00:01:29.337000,43,1,NaT,NaT,0 days 00:00:17.947000,0 days 00:00:38.332000,0 days 00:00:33.058000,0 days 02:07:35.510000,0 days 02:08:13.842000,0 days 02:08:46.900000,290.0,303.0,217.0,305.0,False
43,0 days 02:10:16.724000,6,0 days 00:01:29.824000,44,1,NaT,NaT,0 days 00:00:17.837000,0 days 00:00:38.196000,0 days 00:00:33.791000,0 days 02:09:04.737000,0 days 02:09:42.933000,0 days 02:10:16.724000,292.0,315.0,193.0,322.0,False
44,0 days 02:11:47.686000,6,0 days 00:01:30.962000,45,1,NaT,NaT,0 days 00:00:19.491000,0 days 00:00:38.355000,0 days 00:00:33.116000,0 days 02:10:36.215000,0 days 02:11:14.570000,0 days 02:11:47.686000,291.0,307.0,215.0,308.0,False
45,0 days 02:13:17.681000,6,0 days 00:01:29.995000,46,1,NaT,NaT,0 days 00:00:17.848000,0 days 00:00:38.078000,0 days 00:00:34.069000,0 days 02:12:05.534000,0 days 02:12:43.612000,0 days 02:13:17.681000,289.0,300.0,216.0,321.0,False
46,0 days 02:14:47.815000,6,0 days 00:01:30.134000,47,1,NaT,NaT,0 days 00:00:17.904000,0 days 00:00:38.301000,0 days 00:00:33.929000,0 days 02:13:35.585000,0 days 02:14:13.886000,0 days 02:14:47.815000,294.0,314.0,217.0,326.0,False
47,0 days 02:16:18.463000,6,0 days 00:01:30.648000,48,1,NaT,NaT,0 days 00:00:17.968000,0 days 00:00:38.300000,0 days 00:00:34.380000,0 days 02:15:05.783000,0 days 02:15:44.083000,0 days 02:16:18.463000,290.0,296.0,218.0,324.0,False
48,0 days 02:17:47.812000,6,0 days 00:01:29.349000,49,1,NaT,NaT,0 days 00:00:17.974000,0 days 00:00:38.308000,0 days 00:00:33.067000,0 days 02:16:36.437000,0 days 02:17:14.745000,0 days 02:17:47.812000,291.0,304.0,217.0,305.0,False
49,0 days 02:19:17.564000,6,0 days 00:01:29.752000,50,1,NaT,NaT,0 days 00:00:17.901000,0 days 00:00:38.239000,0 days 00:00:33.612000,0 days 02:18:05.713000,0 days 02:18:43.952000,0 days 02:19:17.564000,290.0,308.0,212.0,303.0,False

In [28]:

pd.DataFrame(drv_laps_data)[pd.DataFrame(drv_laps_data).Time.isin([pd.to_timedelta(item[0]) for item in resp_per_driver[drv]])]

,Time,Driver,LapTime,NumberOfLaps,NumberOfPitStops,PitOutTime,PitInTime,Sector1Time,Sector2Time,Sector3Time,Sector1SessionTime,Sector2SessionTime,Sector3SessionTime,SpeedI1,SpeedI2,SpeedFL,SpeedST,IsPersonalBest
12,0 days 01:22:26.937000,6,0 days 00:01:31.078000,13,1,NaT,NaT,0 days 00:00:18.511000,0 days 00:00:38.886000,0 days 00:00:33.681000,0 days 01:21:14.387000,0 days 01:21:53.256000,0 days 01:22:27.037000,NaN,288.0,212.0,298.0,False
20,0 days 01:34:36.964000,6,0 days 00:01:30.886000,21,1,NaT,NaT,0 days 00:00:18.507000,0 days 00:00:38.758000,0 days 00:00:33.621000,0 days 01:33:24.590000,0 days 01:34:03.348000,0 days 01:34:36.964000,283.0,290.0,212.0,299.0,False
42,0 days 02:08:46.928000,6,0 days 00:01:29.337000,43,2,NaT,NaT,0 days 00:00:17.947000,0 days 00:00:38.332000,0 days 00:00:33.058000,0 days 02:07:35.538000,0 days 02:08:13.914000,0 days 02:08:47.027000,290.0,303.0,217.0,305.0,False

In [32]:
session.load()

core           INFO 	Loading data for Abu Dhabi Grand Prix - Race [v3.4.4]
req            INFO 	No cached data found for session_info. Loading data...
_api           INFO 	Fetching session info data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for driver_info. Loading data...
_api           INFO 	Fetching driver list...
req            INFO 	Data has been written to cache!
logger      WARNING 	Failed to load result data from Ergast!
core        WARNING 	No result data for this session available on Ergast! (This is expected for recent sessions)
req            INFO 	No cached data found for session_status_data. Loading data...
_api           INFO 	Fetching session status data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for lap_count. Loading data...
_api           INFO 	Fetching lap count data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for track_status_data. Loading data...
_api           INFO 	Fetching track status data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for _extended_timing_data. Loading data...
_api           INFO 	Fetching timing data...
_api           INFO 	Parsing timing data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for timing_app_data. Loading data...
_api           INFO 	Fetching timing app data...
req            INFO 	Data has been written to cache!
core           INFO 	Processing timing data...
logger      WARNING 	Failed to add first lap time from Ergast!
req            INFO 	No cached data found for car_data. Loading data...
_api           INFO 	Fetching car data...
_api           INFO 	Parsing car data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for position_data. Loading data...
_api           INFO 	Fetching position data...
_api           INFO 	Parsing position data...
_api        WARNING 	Driver 241: Position data is incomplete!
_api        WARNING 	Driver 242: Position data is incomplete!
_api        WARNING 	Driver 243: Position data is incomplete!
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for weather_data. Loading data...
_api           INFO 	Fetching weather data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for race_control_messages. Loading data...
_api           INFO 	Fetching race control messages...
req            INFO 	Data has been written to cache!
core           INFO 	Finished loading data for 19 drivers: ['33', '44', '4', '11', '55', '77', '16', '22', '31', '3', '14', '10', '18', '99', '5', '6', '63', '7', '47']

In [34]:
temp_laps = session.laps

In [38]:
temp_laps.pick_driver("6")

c:\Users\EU10698\venvs\goktugPy\Lib\site-packages\fastf1\core.py:3022: FutureWarning: pick_driver is deprecated and will be removed in a future release. Use pick_drivers instead.
  warnings.warn(("pick_driver is deprecated and will be removed"

,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,Sector2Time,...,FreshTyre,Team,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate
806,0 days 01:04:03.241000,LAT,6,NaT,1.0,1.0,NaT,NaT,NaT,0 days 00:00:40.348000,...,True,Williams,0 days 01:02:21.871000,2021-12-12 13:03:21.881,1,16.0,False,,False,False
807,0 days 01:05:37.786000,LAT,6,0 days 00:01:34.545000,2.0,1.0,NaT,NaT,0 days 00:00:19.131000,0 days 00:00:39.368000,...,True,Williams,0 days 01:04:03.241000,2021-12-12 13:05:03.251,1,17.0,False,,False,True
808,0 days 01:07:11.022000,LAT,6,0 days 00:01:33.236000,3.0,1.0,NaT,NaT,0 days 00:00:18.869000,0 days 00:00:39.611000,...,True,Williams,0 days 01:05:37.786000,2021-12-12 13:06:37.796,1,17.0,False,,False,True
809,0 days 01:08:43.326000,LAT,6,0 days 00:01:32.304000,4.0,1.0,NaT,NaT,0 days 00:00:18.654000,0 days 00:00:39.218000,...,True,Williams,0 days 01:07:11.022000,2021-12-12 13:08:11.032,1,17.0,False,,False,True
810,0 days 01:10:15.081000,LAT,6,0 days 00:01:31.755000,5.0,1.0,NaT,NaT,0 days 00:00:18.719000,0 days 00:00:38.993000,...,True,Williams,0 days 01:08:43.326000,2021-12-12 13:09:43.336,1,17.0,False,,False,True
811,0 days 01:11:47.084000,LAT,6,0 days 00:01:32.003000,6.0,1.0,NaT,NaT,0 days 00:00:18.689000,0 days 00:00:39.006000,...,True,Williams,0 days 01:10:15.081000,2021-12-12 13:11:15.091,1,17.0,False,,False,True
812,0 days 01:13:18.462000,LAT,6,0 days 00:01:31.378000,7.0,1.0,NaT,NaT,0 days 00:00:18.538000,0 days 00:00:38.777000,...,True,Williams,0 days 01:11:47.084000,2021-12-12 13:12:47.094,1,17.0,False,,False,True
813,0 days 01:14:50.257000,LAT,6,0 days 00:01:31.795000,8.0,1.0,NaT,NaT,0 days 00:00:18.591000,0 days 00:00:39.049000,...,True,Williams,0 days 01:13:18.462000,2021-12-12 13:14:18.472,1,17.0,False,,False,True
814,0 days 01:16:21.961000,LAT,6,0 days 00:01:31.704000,9.0,1.0,NaT,NaT,0 days 00:00:18.538000,0 days 00:00:39.223000,...,True,Williams,0 days 01:14:50.257000,2021-12-12 13:15:50.267,1,17.0,False,,False,True
815,0 days 01:17:53.350000,LAT,6,0 days 00:01:31.389000,10.0,1.0,NaT,NaT,0 days 00:00:18.554000,0 days 00:00:39.132000,...,True,Williams,0 days 01:16:21.961000,2021-12-12 13:17:21.971,1,17.0,False,,False,True
816,0 days 01:19:24.861000,LAT,6,0 days 00:01:31.511000,11.0,1.0,NaT,NaT,0 days 00:00:18.540000,0 days 00:00:39.021000,...,True,Williams,0 days 01:17:53.350000,2021-12-12 13:18:53.360,1,17.0,False,,False,True
817,0 days 01:20:55.832000,LAT,6,0 days 00:01:30.971000,12.0,1.0,NaT,NaT,0 days 00:00:18.518000,0 days 00:00:38.888000,...,True,Williams,0 days 01:19:24.861000,2021-12-12 13:20:24.871,1,17.0,False,,False,True
818,0 days 01:22:26.910000,LAT,6,0 days 00:01:31.078000,13.0,1.0,NaT,NaT,0 days 00:00:18.511000,0 days 00:00:38.886000,...,True,Williams,0 days 01:20:55.832000,2021-12-12 13:21:55.842,1,17.0,False,,False,True
819,0 days 01:23:57.842000,LAT,6,0 days 00:01:30.932000,14.0,1.0,NaT,NaT,0 days 00:00:18.451000,0 days 00:00:38.884000,...,True,Williams,0 days 01:22:26.910000,2021-12-12 13:23:26.920,1,17.0,False,,False,True
820,0 days 01:25:28.976000,LAT,6,0 days 00:01:31.134000,15.0,1.0,NaT,NaT,0 days 00:00:18.481000,0 days 00:00:38.998000,...,True,Williams,0 days 01:23:57.842000,2021-12-12 13:24:57.852,1,17.0,False,,False,True
821,0 days 01:27:00.023000,LAT,6,0 days 00:01:31.047000,16.0,1.0,NaT,NaT,0 days 00:00:18.412000,0 days 00:00:38.944000,...,True,Williams,0 days 01:25:28.976000,2021-12-12 13:26:28.986,1,15.0,False,,False,True
822,0 days 01:28:31.914000,LAT,6,0 days 00:01:31.891000,17.0,1.0,NaT,NaT,0 days 00:00:18.542000,0 days 00:00:39.173000,...,True,Williams,0 days 01:27:00.023000,2021-12-12 13:28:00.033,1,16.0,False,,False,True
823,0 days 01:30:02.826000,LAT,6,0 days 00:01:30.912000,18.0,1.0,NaT,NaT,0 days 00:00:18.450000,0 days 00:00:38.917000,...,True,Williams,0 days 01:28:31.914000,2021-12-12 13:29:31.924,1,15.0,False,,False,True
824,0 days 01:31:33.710000,LAT,6,0 days 00:01:30.884000,19.0,1.0,NaT,NaT,0 days 00:00:18.479000,0 days 00:00:38.820000,...,True,Williams,0 days 01:30:02.826000,2021-12-12 13:31:02.836,1,14.0,False,,False,True
825,0 days 01:33:06.027000,LAT,6,0 days 00:01:32.317000,20.0,1.0,NaT,NaT,0 days 00:00:18.303000,0 days 00:00:39.324000,...,True,Williams,0 days 01:31:33.710000,2021-12-12 13:32:33.720,1,15.0,False,,False,True
826,0 days 01:34:36.913000,LAT,6,0 days 00:01:30.886000,21.0,1.0,NaT,NaT,0 days 00:00:18.507000,0 days 00:00:38.758000,...,True,Williams,0 days 01:33:06.027000,2021-12-12 13:34:06.037,1,15.0,False,,False,True
827,0 days 01:36:09.035000,LAT,6,0 days 00:01:32.122000,22.0,1.0,NaT,NaT,0 days 00:00:18.383000,0 days 00:00:39.085000,...,True,Williams,0 days 01:34:36.913000,2021-12-12 13:35:36.923,1,14.0,False,,False,True
828,0 days 01:37:39.838000,LAT,6,0 days 00:01:30.803000,23.0,1.0,NaT,NaT,0 days 00:00:18.442000,0 days 00:00:38.759000,...,True,Williams,0 days 01:36:09.035000,2021-12-12 13:37:09.045,1,14.0,False,,False,True
829,0 days 01:39:10.773000,LAT,6,0 days 00:01:30.935000,24.0,1.0,NaT,NaT,0 days 00:00:18.484000,0 days 00:00:38.816000,...,True,Williams,0 days 01:37:39.838000,2021-12-12 13:38:39.848,1,13.0,False,,False,True
830,0 days 01:40:41.828000,LAT,6,0 days 00:01:31.055000,25.0,1.0,NaT,NaT,0 days 00:00:18.401000,0 days 00:00:38.940000,...,True,Williams,0 days 01:39:10.773000,2021-12-12 13:40:10.783,12,13.0,False,,False,True
831,0 days 01:42:12.895000,LAT,6,0 days 00:01:31.067000,26.0,1.0,NaT,NaT,0 days 00:00:18.533000,0 days 00:00:38.969000,...,True,Williams,0 days 01:40:41.828000,2021-12-12 13:41:41.838,21,13.0,False,,False,True
832,0 days 01:43:45.392000,LAT,6,0 days 00:01:32.497000,27.0,1.0,NaT,NaT,0 days 00:00:18.488000,0 days 00:00:39.004000,...,True,Williams,0 days 01:42:12.895000,2021-12-12 13:43:12.905,1,14.0,False,,False,True
833,0 days 01:45:19.558000,LAT,6,0 days 00:01:34.166000,28.0,1.0,NaT,0 days 01:45:18.551000,0 days 00:00:18.629000,0 days 00:00:39.332000,...,True,Williams,0 days 01:43:45.392000,2021-12-12 13:44:45.402,1,16.0,False,,False,False
834,0 days 01:47:09.338000,LAT,6,0 days 00:01:49.780000,29.0,2.0,0 days 01:45:39.815000,NaT,0 days 00:00:38.163000,0 days 00:00:38.563000,...,True,Williams,0 days 01:45:19.558000,2021-12-12 13:46:19.568,1,17.0,False,,False,False
835,0 days 01:48:38.631000,LAT,6,0 days 00:01:29.293000,30.0,2.0,NaT,NaT,0 days 00:00:18.179000,0 days 00:00:38.269000,...,True,Williams,0 days 01:47:09.338000,2021-12-12 13:48:09.348,1,17.0,False,,False,True
836,0 days 01:50:08.024000,LAT,6,0 days 00:01:29.393000,31.0,2.0,NaT,NaT,0 days 00:00:18.003000,0 days 00:00:38.467000,...,True,Williams,0 days 01:48:38.631000,2021-12-12 13:49:38.641,1,17.0,False,,False,True
837,0 days 01:51:37.455000,LAT,6,0 days 00:01:29.431000,32.0,2.0,NaT,NaT,0 days 00:00:18.042000,0 days 00:00:38.423000,...,True,Williams,0 days 01:50:08.024000,2021-12-12 13:51:08.034,1,17.0,False,,False,True
838,0 days 01:53:06.997000,LAT,6,0 days 00:01:29.542000,33.0,2.0,NaT,NaT,0 days 00:00:18.068000,0 days 00:00:38.497000,...,True,Williams,0 days 01:51:37.455000,2021-12-12 13:52:37.465,1,17.0,False,,False,True
839,0 days 01:54:36.527000,LAT,6,0 days 00:01:29.530000,34.0,2.0,NaT,NaT,0 days 00:00:17.906000,0 days 00:00:38.456000,...,True,Williams,0 days 01:53:06.997000,2021-12-12 13:54:07.007,1,16.0,False,,False,True
840,0 days 01:56:24.103000,LAT,6,0 days 00:01:47.576000,35.0,2.0,NaT,NaT,0 days 00:00:17.852000,0 days 00:00:47.579000,...,True,Williams,0 days 01:54:36.527000,2021-12-12 13:55:36.537,16,16.0,False,,False,False
841,0 days 01:58:17.673000,LAT,6,0 days 00:01:53.570000,36.0,2.0,NaT,NaT,0 days 00:00:25.373000,0 days 00:00:49.392000,...,True,Williams,0 days 01:56:24.103000,2021-12-12 13:57:24.113,671,16.0,False,,False,False
842,0 days 01:59:48.971000,LAT,6,0 days 00:01:31.298000,37.0,2.0,NaT,NaT,0 days 00:00:18.495000,0 days 00:00:38.469000,...,True,Williams,0 days 01:58:17.673000,2021-12-12 13:59:17.683,1,16.0,False,,False,True
843,0 days 02:01:18.815000,LAT,6,0 days 00:01:29.844000,38.0,2.0,NaT,NaT,0 days 00:00:18.157000,0 days 00:00:38.400000,...,True,Williams,0 days 01:59:48.971000,2021-12-12 14:00:48.981,1,16.0,False,,False,True
844,0 days 02:02:48.712000,LAT,6,0 days 00:01:29.897000,39.0,2.0,NaT,NaT,0 days 00:00:17.990000,0 days 00:00:38.539000,...,True,Williams,0 days 02:01:18.815000,2021-12-12 14:02:18.825,1,16.0,False,,False,True
845,0 days 02:04:18.339000,LAT,6,0 days 00:01:29.627000,40.0,2.0,NaT,NaT,0 days 00:00:17.860000,0 days 00:00:38.343000,...,True,Williams,0 days 02:02:48.712000,2021-12-12 14:03:48.722,1,16.0,False,,False,True
846,0 days 02:05:48.015000,LAT,6,0 days 00:01:29.676000,41.0,2.0,NaT,NaT,0 days 00:00:17.999000,0 days 00:00:38.325000,...,True,Williams,0 days 02:04:18.339000,2021-12-12 14:05:18.349,1,16.0,False,,False,True
847,0 days 02:07:17.557000,LAT,6,0 days 00:01:29.542000,42.0,2.0,NaT,NaT,0 days 00:00:17.939000,0 days 00:00:38.371000,...,True,Williams,0 days 02:05:48.015000,2021-12-12 14:06:48.025,1,16.0,False,,False,True
848,0 days 02:08:46.894000,LAT,6,0 days 00:01:29.337000,43.0,2.0,NaT,NaT,0 days 00:00:17.947000,0 days 00:00:38.332000,...,True,Williams,0 days 02:07:17.557000,2021-12-12 14:08:17.567,1,16.0,False,,False,True
849,0 days 02:10:16.718000,LAT,6,0 days 00:01:29.824000,44.0,2.0,NaT,NaT,0 days 00:00:17.837000,0 days 00:00:38.196000,...,True,Williams,0 days 02:08:46.894000,2021-12-12 14:09:46.904,1,16.0,False,,False,True
850,0 days 02:11:47.680000,LAT,6,0 days 00:01:30.962000,45.0,2.0,NaT,NaT,0 days 00:00:19.491000,0 days 00:00:38.355000,...,True,Williams,0 days 02:10:16.718000,2021-12-12 14:11:16.728,1,16.0,False,,False,True
851,0 days 02:13:17.675000,LAT,6,0 days 00:01:29.995000,46.0,2.0,NaT,NaT,0 days 00:00:17.848000,0 days 00:00:38.078000,...,True,Williams,0 days 02:11:47.680000,2021-12-12 14:12:47.690,1,16.0,False,,False,True
852,0 days 02:14:47.809000,LAT,6,0 days 00:01:30.134000,47.0,2.0,NaT,NaT,0 days 00:00:17.904000,0 days 00:00:38.301000,...,True,Williams,0 days 02:13:17.675000,2021-12-12 14:14:17.685,1,16.0,False,,False,True
853,0 days 02:16:18.457000,LAT,6,0 days 00:01:30.648000,48.0,2.0,NaT,NaT,0 days 00:00:17.968000,0 days 00:00:38.300000,...,True,Williams,0 days 02:14:47.809000,2021-12-12 14:15:47.819,1,16.0,False,,False,True
854,0 days 02:17:47.806000,LAT,6,0 days 00:01:29.349000,49.0,2.0,NaT,NaT,0 days 00:00:17.974000,0 days 00:00:38.308000,...,True,Williams,0 days 02:16:18.457000,2021-12-12 14:17:18.467,1,16.0,False,,False,True
855,0 days 02:19:17.558000,LAT,6,0 days 00:01:29.752000,50.0,2.0,NaT,NaT,0 days 00:00:17.901000,0 days 00:00:38.239000,...,True,Williams,0 days 02:17:47.806000,2021-12-12 14:18:47.816,1,16.0,True,TRACK LIMITS AT TURN 16,False,True
856,0 days 02:20:36.637000,LAT,6,NaT,51.0,2.0,NaT,NaT,NaT,NaT,...,True,Williams,0 days 02:19:17.558000,NaT,1,NaN,False,NaN,True,False