In [1]:
import pandas as pd
import numpy as np

import livef1

livef1.utils.logger.set_log_level("INFO")

In [2]:
session_race = livef1.get_session(
    2025,
    "Jeddah",
    "Race"
)

@session_race.create_silver_table(
    table_name = "goktugTable",
    source_tables = ["Car_Data", "SessionData", "laps"],
    include_session = True
)
def goktugtable(session, car_data, session_data, laps):
    return laps.sort_values("LapTime").head(3)

17:10:08 - Selected meeting/session is:
	Meeting Offname : FORMULA 1 STC SAUDI ARABIAN GRAND PRIX 2025
	Meeting Name : Saudi Arabian Grand Prix
	Meeting Circuit Shortname : Jeddah
17:10:08 - Got the meeting.
17:10:08 - Selected meeting/session is:
	Session Name : Race
17:10:08 - The session was received successfully.
17:10:08 - Fetching drivers.
17:10:08 - The callback function for the SILVER table 'goktugTable' was set.

In [3]:
session_race.generate()

17:10:08 - The callback function for the SILVER table 'laps' was set.
17:10:08 - The callback function for the SILVER table 'carTelemetry' was set.
17:10:08 - Topics to be loaded : ['CarData.z', 'SessionStatus', 'Position.z']
17:10:12 - 'CarData.z' has been fetched and parsed
17:10:12 - 'SessionStatus' has been fetched and parsed
17:10:15 - 'Position.z' has been fetched and parsed
17:10:22 - 'SessionData' has been fetched and parsed
17:10:22 - Silver tables are being generated.
17:10:22 - TopicNotFoundError - The topic name you provided 'laps' is not included in the topics.
17:10:24 - 'TimingData' has been fetched and parsed
17:10:25 - 'RaceControlMessages' has been fetched and parsed
17:10:25 - 'PitStopSeries' has been fetched and parsed
17:10:25 - 'TyreStintSeries' has been fetched and parsed
17:10:27 - 'goktugTable' has been generated and saved to the silver lake. You can access it from 'session.goktugTable'.
17:10:39 - 'laps' has been generated and saved to the silver lake. You can access it from 'session.laps'.
17:10:59 - 'carTelemetry' has been generated and saved to the silver lake. You can access it from 'session.carTelemetry'.

In [5]:
session_race.goktugTable

,SessionKey,DriverNo,LapNo,LapTime,NoPits,PitIn,PitOut,PitStopDuration,Compound,TyreAge,...,Sector3_Time,LapStartTime,LapStartDate,Speed_I1,Speed_I2,Speed_FL,Speed_ST,IsDeleted,DeletionMessage,Driver
1002,10022.0,4,41.0,0 days 00:01:31.778000,1.0,NaT,NaT,NaN,MEDIUM,6.0,...,0 days 00:00:29.336000,0 days 02:02:52.427000,2025-04-20 18:09:50.841,291,305,311,305,False,NaN,[4] NOR - McLaren
1006,10022.0,4,43.0,0 days 00:01:31.857000,1.0,NaT,NaT,NaN,MEDIUM,8.0,...,0 days 00:00:29.367000,0 days 02:05:56.105000,2025-04-20 18:12:54.519,293,305,300,308,False,NaN,[4] NOR - McLaren
1004,10022.0,4,42.0,0 days 00:01:31.992000,1.0,NaT,NaT,NaN,MEDIUM,7.0,...,0 days 00:00:29.262000,0 days 02:04:24.265000,2025-04-20 18:11:22.679,288,301,300,305,False,NaN,[4] NOR - McLaren