In [ ]:
import livef1
from livef1.utils.constants import interpolation_map

import pandas as pd
import numpy as np
from datetime import timedelta

import matplotlib.pyplot as plt

session = livef1.get_session(season=2024, meeting_identifier="Spa", session_identifier="Race")

2025-01-13 21:00:43,789 : livef1 : INFO :: Selected meeting/session is:
Meeting Offname : FORMULA 1 ROLEX BELGIAN GRAND PRIX 2024
Meeting Name : Belgian Grand Prix
Meeting Circuit Shortname : Spa-Francorchamps
2025-01-13 21:00:43,790 : livef1 : INFO :: The meeting was received successfully.
2025-01-13 21:00:43,792 : livef1 : INFO :: Selected meeting/session is:
Session Name : Race
2025-01-13 21:00:43,793 : livef1 : INFO :: The session was received successfully.

In [2]:
res = session.get_data(dataName="Timing_Data")
df_exp = pd.DataFrame(res.value)
df_exp

2025-01-13 21:00:47,549 : livef1 : INFO :: Getting requested data.
Selected session : 2024 Belgian Grand Prix Race
Topic : TimingData
2025-01-13 21:00:48,370 : livef1 : INFO :: Data is successfully received.
2025-01-13 21:00:48,488 : livef1 : INFO :: Data is successfully parsed.

,SessionKey,timestamp,DriverNo,GapToLeader,IntervalToPositionAhead_Value,IntervalToPositionAhead_Catching,Line,Position,ShowPosition,RacingNumber,...,Sectors_2_Segments_6_Status,Sectors_1_PreviousValue,NumberOfLaps,Sectors_2_PreviousValue,Sectors_0_Value,Sectors_0_OverallFastest,Sectors_0_PersonalFastest,Sectors_0_PreviousValue,BestLapTime_Lap,NumberOfPitStops
0,9574,00:00:03.734,16,,,False,1.0,1,True,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9574,00:00:03.734,11,,,False,2.0,2,True,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9574,00:00:03.734,44,,,False,3.0,3,True,44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9574,00:00:03.734,4,,,False,4.0,4,True,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9574,00:00:03.734,81,,,False,5.0,5,True,81,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47650,9574,02:17:07.716,1,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47651,9574,02:17:07.716,10,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47652,9574,02:17:07.716,77,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47653,9574,02:17:07.716,20,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47654,9574,02:17:07.716,24,39L,39L,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_11 = df_exp[df_exp["DriverNo"] == "11"]

In [4]:
df_11.columns.tolist()

['SessionKey',
 'timestamp',
 'DriverNo',
 'GapToLeader',
 'IntervalToPositionAhead_Value',
 'IntervalToPositionAhead_Catching',
 'Line',
 'Position',
 'ShowPosition',
 'RacingNumber',
 'Retired',
 'InPit',
 'PitOut',
 'Stopped',
 'Status',
 'Sectors_1_Stopped',
 'Sectors_1_Value',
 'Sectors_1_Status',
 'Sectors_1_OverallFastest',
 'Sectors_1_PersonalFastest',
 'Sectors_2_Stopped',
 'Sectors_2_Value',
 'Sectors_2_Status',
 'Sectors_2_OverallFastest',
 'Sectors_2_PersonalFastest',
 'Sectors_3_Stopped',
 'Sectors_3_Value',
 'Sectors_3_Status',
 'Sectors_3_OverallFastest',
 'Sectors_3_PersonalFastest',
 'Speeds_I1_Value',
 'Speeds_I1_Status',
 'Speeds_I1_OverallFastest',
 'Speeds_I1_PersonalFastest',
 'Speeds_I2_Value',
 'Speeds_I2_Status',
 'Speeds_I2_OverallFastest',
 'Speeds_I2_PersonalFastest',
 'Speeds_FL_Value',
 'Speeds_FL_Status',
 'Speeds_FL_OverallFastest',
 'Speeds_FL_PersonalFastest',
 'Speeds_ST_Value',
 'Speeds_ST_Status',
 'Speeds_ST_OverallFastest',
 'Speeds_ST_PersonalFastest',
 'BestLapTime_Value',
 'LastLapTime_Value',
 'LastLapTime_Status',
 'LastLapTime_OverallFastest',
 'LastLapTime_PersonalFastest',
 'Segments_1_Status',
 'Segments_2_Status',
 'Segments_3_Status',
 'Segments_4_Status',
 'Segments_5_Status',
 'Segments_6_Status',
 'Segments_7_Status',
 'Segments_8_Status',
 'Segments_9_Status',
 'Segments_10_Status',
 'Segments_11_Status',
 'Segments_12_Status',
 'Sectors_0_Segments_0_Status',
 'Sectors_0_Segments_1_Status',
 'Sectors_0_Segments_2_Status',
 'Sectors_0_Segments_3_Status',
 'Sectors_0_Segments_4_Status',
 'Sectors_0_Segments_5_Status',
 'Sectors_0_Segments_6_Status',
 'Sectors_0_Segments_7_Status',
 'Sectors_1_Segments_0_Status',
 'Sectors_1_Segments_1_Status',
 'Sectors_1_Segments_2_Status',
 'Sectors_1_Segments_3_Status',
 'Sectors_1_Segments_4_Status',
 'Sectors_1_Segments_5_Status',
 'Sectors_1_Segments_6_Status',
 'Sectors_1_Segments_7_Status',
 'Sectors_1_Segments_8_Status',
 'Sectors_1_Segments_9_Status',
 'Sectors_1_Segments_10_Status',
 'Sectors_1_Segments_11_Status',
 'Sectors_2_Segments_0_Status',
 'Sectors_2_Segments_1_Status',
 'Sectors_2_Segments_2_Status',
 'Sectors_2_Segments_3_Status',
 'Sectors_2_Segments_4_Status',
 'Sectors_2_Segments_5_Status',
 'Sectors_2_Segments_6_Status',
 'Sectors_1_PreviousValue',
 'NumberOfLaps',
 'Sectors_2_PreviousValue',
 'Sectors_0_Value',
 'Sectors_0_OverallFastest',
 'Sectors_0_PersonalFastest',
 'Sectors_0_PreviousValue',
 'BestLapTime_Lap',
 'NumberOfPitStops']

In [47]:
cols = ["LastLapTime_Value","Sectors_0_Value","Sectors_1_Value","Sectors_2_Value","Sectors_0_PreviousValue","Sectors_1_PreviousValue","Sectors_2_PreviousValue","NumberOfLaps"]

def str_timedelta(x):
    if isinstance(x,str):
        count_sep = x.count(":")

        if count_sep == 0:
            return "00:00:" + x
        elif count_sep == 1:
            return "00:" + x
        else: return x
    else:
        return x


df_test = df_11[["timestamp"] + cols ].dropna(subset=cols, how="all").replace('',np.nan)

# df_test["LapElapsed"] = df_test["Sectors_0_Value"] + df_test["Sectors_1_Value"] + df_test["Sectors_2_Value"]
# for col in df_test.columns:
#     df_test[col] = pd.to_timedelta(df_test[col])


for col in ["Sectors_0_Value","Sectors_1_Value","Sectors_2_Value"]:
    df_test[col] = df_test[col]
    # df_test[col] = df_test[col].fillna("00:00:00.000")
    df_test[col] = pd.to_timedelta(df_test[col].apply(str_timedelta))

for col in ["Sectors_0_PreviousValue","Sectors_1_PreviousValue","Sectors_2_PreviousValue"]:
    df_test[col] = df_test[col]
    # df_test[col] = df_test[col].fillna("00:00:00.000")
    df_test[col] = pd.to_timedelta(df_test[col].apply(str_timedelta))


df_test["LapElapsed"] = df_test["Sectors_0_Value"] + df_test["Sectors_1_Value"] + df_test["Sectors_2_Value"]


df_test.iloc[150:200]
# df_test.tail(50)

,timestamp,LastLapTime_Value,Sectors_0_Value,Sectors_1_Value,Sectors_2_Value,Sectors_0_PreviousValue,Sectors_1_PreviousValue,Sectors_2_PreviousValue,NumberOfLaps,LapElapsed
29475,01:43:46.427,NaN,NaT,NaT,NaT,0 days 00:00:31.285000,NaT,NaT,NaN,NaT
29908,01:44:32.276,NaN,NaT,0 days 00:00:47.326000,NaT,NaT,NaT,NaT,NaN,NaT
29944,01:44:36.414,NaN,NaT,NaT,NaT,NaT,0 days 00:00:47.326000,NaT,NaN,NaT
30163,01:45:01.436,1:47.625,NaT,NaT,0 days 00:00:29.014000,NaT,NaT,NaT,27.0,NaT
30166,01:45:01.532,NaN,NaT,NaT,NaT,NaT,NaT,0 days 00:00:29.014000,NaN,NaT
30478,01:45:32.625,NaN,0 days 00:00:31.264000,NaT,NaT,NaT,NaT,NaT,NaN,NaT
30511,01:45:36.466,NaN,NaT,NaT,NaT,0 days 00:00:31.264000,NaT,NaT,NaN,NaT
30936,01:46:19.907,NaN,NaT,0 days 00:00:47.353000,NaT,NaT,NaT,NaT,NaN,NaT
30954,01:46:21.516,NaN,NaT,NaT,NaT,NaT,0 days 00:00:47.353000,NaT,NaN,NaT
31213,01:46:51.565,NaN,NaT,NaT,NaT,NaT,NaT,0 days 00:00:29.083000,NaN,NaT
31481,01:47:20.235,NaN,0 days 00:00:31.187000,NaT,NaT,NaT,NaT,NaT,NaN,NaT
31932,01:48:07.572,NaN,NaT,0 days 00:00:47.312000,NaT,NaT,NaT,NaT,NaN,NaT
31948,01:48:08.960,NaN,NaT,NaT,NaT,NaT,0 days 00:00:47.312000,NaT,NaN,NaT
32185,01:48:36.517,1:47.470,NaT,NaT,0 days 00:00:28.971000,NaT,NaT,NaT,29.0,NaT
32187,01:48:36.576,NaN,NaT,NaT,NaT,NaT,NaT,0 days 00:00:28.971000,NaN,NaT
32489,01:49:07.745,NaN,0 days 00:00:31.169000,NaT,NaT,NaT,NaT,NaT,NaN,NaT
32497,01:49:08.567,NaN,NaT,NaT,NaT,0 days 00:00:31.169000,NaT,NaT,NaN,NaT
32967,01:49:56.463,NaN,NaT,0 days 00:00:48.727000,NaT,NaT,NaT,NaT,NaN,NaT
32969,01:49:56.755,NaN,NaT,NaT,NaT,NaT,0 days 00:00:48.727000,NaT,NaN,NaT
33220,01:50:25.441,1:48.878,NaT,NaT,0 days 00:00:28.982000,NaT,NaT,NaT,30.0,NaT
33222,01:50:25.560,NaN,NaT,NaT,NaT,NaT,NaT,0 days 00:00:28.982000,NaN,NaT
33525,01:50:56.455,NaN,0 days 00:00:31.005000,NaT,NaT,NaT,NaT,NaT,NaN,NaT
33527,01:50:56.877,NaN,NaT,NaT,NaT,0 days 00:00:31.005000,NaT,NaT,NaN,NaT
33979,01:51:44.779,NaN,NaT,0 days 00:00:48.343000,NaT,NaT,NaT,NaT,NaN,NaT
34000,01:51:46.983,NaN,NaT,NaT,NaT,NaT,0 days 00:00:48.343000,NaT,NaN,NaT
34233,01:52:13.749,1:48.335,NaT,NaT,0 days 00:00:28.987000,NaT,NaT,NaT,31.0,NaT
34265,01:52:17.044,NaN,NaT,NaT,NaT,NaT,NaT,0 days 00:00:28.987000,NaN,NaT
34543,01:52:45.129,NaN,0 days 00:00:31.302000,NaT,NaT,NaT,NaT,NaT,NaN,NaT
34555,01:52:46.997,NaN,NaT,NaT,NaT,0 days 00:00:31.302000,NaT,NaT,NaN,NaT
35001,01:53:32.719,NaN,NaT,0 days 00:00:47.611000,NaT,NaT,NaT,NaT,NaN,NaT
35036,01:53:37.046,NaN,NaT,NaT,NaT,NaT,0 days 00:00:47.611000,NaT,NaN,NaT
35240,01:54:02.077,1:48.016,NaT,NaT,0 days 00:00:29.103000,NaT,NaT,NaT,32.0,NaT
35541,01:54:33.001,NaN,0 days 00:00:31.216000,NaT,NaT,NaT,NaT,NaT,NaN,NaT
35575,01:54:37.122,NaN,NaT,NaT,NaT,0 days 00:00:31.216000,NaT,NaT,NaN,NaT
35986,01:55:20.172,NaN,NaT,0 days 00:00:47.190000,NaT,NaT,NaT,NaT,NaN,NaT
36005,01:55:22.190,NaN,NaT,NaT,NaT,NaT,0 days 00:00:47.190000,NaT,NaN,NaT
36249,01:55:49.540,1:47.630,NaT,NaT,0 days 00:00:29.224000,NaT,NaT,NaT,33.0,NaT
36269,01:55:52.310,NaN,NaT,NaT,NaT,NaT,NaT,0 days 00:00:29.224000,NaN,NaT
36550,01:56:20.600,NaN,0 days 00:00:31.160000,NaT,NaT,NaT,NaT,NaT,NaN,NaT
36565,01:56:22.273,NaN,NaT,NaT,NaT,0 days 00:00:31.160000,NaT,NaT,NaN,NaT
37005,01:57:08.377,NaN,NaT,0 days 00:00:47.778000,NaT,NaT,NaT,NaT,NaN,NaT
37044,01:57:12.325,NaN,NaT,NaT,NaT,NaT,0 days 00:00:47.778000,NaT,NaN,NaT
37301,01:57:42.388,NaN,NaT,NaT,NaT,NaT,NaT,0 days 00:00:29.279000,NaN,NaT
37570,01:58:09.016,NaN,0 days 00:00:31.208000,NaT,NaT,NaT,NaT,NaT,NaN,NaT
37606,01:58:12.471,NaN,NaT,NaT,NaT,0 days 00:00:31.208000,NaT,NaT,NaN,NaT
38004,01:58:56.329,NaN,NaT,0 days 00:00:47.458000,NaT,NaT,NaT,NaT,NaN,NaT
38258,01:59:25.543,1:47.843,NaT,NaT,0 days 00:00:29.177000,NaT,NaT,NaT,35.0,NaT
38284,01:59:27.552,NaN,NaT,NaT,NaT,NaT,NaT,0 days 00:00:29.177000,NaN,NaT
38566,01:59:56.726,NaN,0 days 00:00:31.205000,NaT,NaT,NaT,NaT,NaT,NaN,NaT
38569,01:59:56.975,NaN,NaT,NaT,NaT,0 days 00:00:31.205000,NaT,NaT,NaN,NaT

In [90]:
for sector_no in range(3):
    df_test[f"Sectors_{sector_no}_flag"] = (~df_test[f"Sectors_{sector_no}_Value"].isnull()).astype(int).cumsum()

# df_test[(df_test["Sectors_0_flag"] == df_test["Sectors_1_flag"]) & (df_test["Sectors_0_flag"] == df_test["Sectors_2_flag"])]
sector_cols = [
    "Sectors_0_Value",
    "Sectors_1_Value",
    "Sectors_2_Value",
    "Sectors_0_PreviousValue",
    "Sectors_1_PreviousValue",
    "Sectors_2_PreviousValue"
]

record = {
    "1": None,
    "2": None,
    "3": None
}

lap_counter = 1
new_lap_allowed = True
for idx,row in df_test.iterrows():
    for sc_key, sc_value in row[sector_cols].dropna().to_dict().items():
        sc_no = int(sc_key.split("_")[1])
        key_type = sc_key.split("_")[2]


        if record[str(sc_no + 1)] == None:
            if key_type == "Value":
                record[str(sc_no + 1)] = sc_value
                if sc_no == 1: new_lap_allowed = True
            elif key_type == "PreviousValue":
                if sc_no != 2 or (sc_no == 2 and new_lap_allowed):
                    record[str(sc_no + 1)] = sc_value
                    if sc_no == 1: new_lap_allowed = True


        # if (key_type == "PreviousValue" and record[str(sc_no + 1)] != sc_value) or key_type == "Value":
        #     record[str(sc_no + 1)] = sc_value

        print(sc_no, key_type, sc_value)

        if sc_no == 2 and new_lap_allowed:
            new_lap_allowed = False

            print(">>",lap_counter, [record[str(i)] for i in range(1,4)])

            record = {
                "1": None,
                "2": None,
                "3": None
            }

            lap_counter += 1
            print("........................")

1 Value 0 days 00:00:50.038000
1 PreviousValue 0 days 00:00:50.038000
2 Value 0 days 00:00:29.491000
>> 1 [None, Timedelta('0 days 00:00:50.038000'), Timedelta('0 days 00:00:29.491000')]
........................
2 PreviousValue 0 days 00:00:29.491000
0 Value 0 days 00:00:31.365000
0 PreviousValue 0 days 00:00:31.365000
1 Value 0 days 00:00:49.207000
1 PreviousValue 0 days 00:00:49.207000
2 Value 0 days 00:00:29.668000
>> 2 [Timedelta('0 days 00:00:31.365000'), Timedelta('0 days 00:00:49.207000'), Timedelta('0 days 00:00:29.668000')]
........................
2 PreviousValue 0 days 00:00:29.668000
0 Value 0 days 00:00:31.470000
0 PreviousValue 0 days 00:00:31.470000
1 Value 0 days 00:00:48.913000
2 Value 0 days 00:00:29.600000
>> 3 [Timedelta('0 days 00:00:31.470000'), Timedelta('0 days 00:00:48.913000'), Timedelta('0 days 00:00:29.600000')]
........................
2 PreviousValue 0 days 00:00:29.600000
0 Value 0 days 00:00:31.356000
0 PreviousValue 0 days 00:00:31.356000
1 Value 0 days 00:00:49.032000
1 PreviousValue 0 days 00:00:49.032000
2 Value 0 days 00:00:29.402000
>> 4 [Timedelta('0 days 00:00:31.356000'), Timedelta('0 days 00:00:49.032000'), Timedelta('0 days 00:00:29.402000')]
........................
2 PreviousValue 0 days 00:00:29.402000
0 PreviousValue 0 days 00:00:31.447000
1 Value 0 days 00:00:48.958000
1 PreviousValue 0 days 00:00:48.958000
2 Value 0 days 00:00:29.491000
>> 5 [Timedelta('0 days 00:00:31.447000'), Timedelta('0 days 00:00:48.958000'), Timedelta('0 days 00:00:29.491000')]
........................
2 PreviousValue 0 days 00:00:29.491000
0 Value 0 days 00:00:31.583000
0 PreviousValue 0 days 00:00:31.583000
1 Value 0 days 00:00:49.116000
1 PreviousValue 0 days 00:00:49.116000
2 Value 0 days 00:00:29.430000
>> 6 [Timedelta('0 days 00:00:31.583000'), Timedelta('0 days 00:00:49.116000'), Timedelta('0 days 00:00:29.430000')]
........................
2 PreviousValue 0 days 00:00:29.430000
0 Value 0 days 00:00:31.524000
0 PreviousValue 0 days 00:00:31.524000
1 Value 0 days 00:00:48.599000
1 PreviousValue 0 days 00:00:48.599000
2 Value 0 days 00:00:29.514000
>> 7 [Timedelta('0 days 00:00:31.524000'), Timedelta('0 days 00:00:48.599000'), Timedelta('0 days 00:00:29.514000')]
........................
2 PreviousValue 0 days 00:00:29.514000
0 Value 0 days 00:00:31.530000
0 PreviousValue 0 days 00:00:31.530000
1 Value 0 days 00:00:48.828000
1 PreviousValue 0 days 00:00:48.828000
2 Value 0 days 00:00:29.554000
>> 8 [Timedelta('0 days 00:00:31.530000'), Timedelta('0 days 00:00:48.828000'), Timedelta('0 days 00:00:29.554000')]
........................
2 PreviousValue 0 days 00:00:29.554000
0 Value 0 days 00:00:31.506000
0 PreviousValue 0 days 00:00:31.506000
1 Value 0 days 00:00:49.173000
1 PreviousValue 0 days 00:00:49.173000
2 Value 0 days 00:00:29.607000
>> 9 [Timedelta('0 days 00:00:31.506000'), Timedelta('0 days 00:00:49.173000'), Timedelta('0 days 00:00:29.607000')]
........................
2 PreviousValue 0 days 00:00:29.607000
0 Value 0 days 00:00:31.598000
1 Value 0 days 00:00:48.943000
1 PreviousValue 0 days 00:00:48.943000
2 Value 0 days 00:00:29.516000
>> 10 [Timedelta('0 days 00:00:31.598000'), Timedelta('0 days 00:00:48.943000'), Timedelta('0 days 00:00:29.516000')]
........................
2 PreviousValue 0 days 00:00:29.516000
0 Value 0 days 00:00:31.528000
0 PreviousValue 0 days 00:00:31.528000
1 Value 0 days 00:00:49.036000
1 PreviousValue 0 days 00:00:49.036000
2 Value 0 days 00:00:34.280000
>> 11 [Timedelta('0 days 00:00:31.528000'), Timedelta('0 days 00:00:49.036000'), Timedelta('0 days 00:00:34.280000')]
........................
2 PreviousValue 0 days 00:00:34.280000
0 Value 0 days 00:00:44.973000
1 Value 0 days 00:00:49.368000
1 PreviousValue 0 days 00:00:49.368000
2 Value 0 days 00:00:29.363000
>> 12 [Timedelta('0 days 00:00:44.973000'), Timedelta('0 days 00:00:49.368000'), Timedelta('0 days 00:00:29.363000')]
........................
2 PreviousValue 0 days 00:00:29.363000
0 Value 0 days 00:00:31.062000
1 Value 0 days 00:00:48.626000
1 PreviousValue 0 days 00:00:48.626000
2 Value 0 days 00:00:29.084000
>> 13 [Timedelta('0 days 00:00:31.062000'), Timedelta('0 days 00:00:48.626000'), Timedelta('0 days 00:00:29.084000')]
........................
2 PreviousValue 0 days 00:00:29.084000
0 Value 0 days 00:00:30.765000
0 PreviousValue 0 days 00:00:30.765000
1 Value 0 days 00:00:48.478000
2 Value 0 days 00:00:29.151000
>> 14 [Timedelta('0 days 00:00:30.765000'), Timedelta('0 days 00:00:48.478000'), Timedelta('0 days 00:00:29.151000')]
........................
2 PreviousValue 0 days 00:00:29.151000
0 Value 0 days 00:00:31.119000
0 PreviousValue 0 days 00:00:31.119000
1 Value 0 days 00:00:48.083000
1 PreviousValue 0 days 00:00:48.083000
2 Value 0 days 00:00:29.103000
>> 15 [Timedelta('0 days 00:00:31.119000'), Timedelta('0 days 00:00:48.083000'), Timedelta('0 days 00:00:29.103000')]
........................
2 PreviousValue 0 days 00:00:29.103000
0 Value 0 days 00:00:31.333000
0 PreviousValue 0 days 00:00:31.333000
1 Value 0 days 00:00:48.045000
1 PreviousValue 0 days 00:00:48.045000
2 Value 0 days 00:00:29.126000
>> 16 [Timedelta('0 days 00:00:31.333000'), Timedelta('0 days 00:00:48.045000'), Timedelta('0 days 00:00:29.126000')]
........................
2 PreviousValue 0 days 00:00:29.126000
0 Value 0 days 00:00:31.332000
0 PreviousValue 0 days 00:00:31.332000
1 Value 0 days 00:00:47.969000
1 PreviousValue 0 days 00:00:47.969000
2 Value 0 days 00:00:29.191000
>> 17 [Timedelta('0 days 00:00:31.332000'), Timedelta('0 days 00:00:47.969000'), Timedelta('0 days 00:00:29.191000')]
........................
0 Value 0 days 00:00:31.237000
0 PreviousValue 0 days 00:00:31.237000
1 Value 0 days 00:00:48.064000
1 PreviousValue 0 days 00:00:48.064000
2 Value 0 days 00:00:29.253000
>> 18 [Timedelta('0 days 00:00:31.237000'), Timedelta('0 days 00:00:48.064000'), Timedelta('0 days 00:00:29.253000')]
........................
2 PreviousValue 0 days 00:00:29.253000
0 Value 0 days 00:00:31.390000
0 PreviousValue 0 days 00:00:31.390000
1 Value 0 days 00:00:48.119000
1 PreviousValue 0 days 00:00:48.119000
2 Value 0 days 00:00:29.186000
>> 19 [Timedelta('0 days 00:00:31.390000'), Timedelta('0 days 00:00:48.119000'), Timedelta('0 days 00:00:29.186000')]
........................
2 PreviousValue 0 days 00:00:29.186000
0 Value 0 days 00:00:31.422000
0 PreviousValue 0 days 00:00:31.422000
1 Value 0 days 00:00:48.809000
1 PreviousValue 0 days 00:00:48.809000
2 Value 0 days 00:00:29.432000
>> 20 [Timedelta('0 days 00:00:31.422000'), Timedelta('0 days 00:00:48.809000'), Timedelta('0 days 00:00:29.432000')]
........................
2 PreviousValue 0 days 00:00:29.432000
0 Value 0 days 00:00:31.513000
0 PreviousValue 0 days 00:00:31.513000
1 PreviousValue 0 days 00:00:49.184000
2 Value 0 days 00:00:33.985000
>> 21 [Timedelta('0 days 00:00:31.513000'), Timedelta('0 days 00:00:49.184000'), Timedelta('0 days 00:00:33.985000')]
........................
2 PreviousValue 0 days 00:00:33.985000
0 Value 0 days 00:00:45.499000
0 PreviousValue 0 days 00:00:45.499000
1 Value 0 days 00:00:47.097000
1 PreviousValue 0 days 00:00:47.097000
2 Value 0 days 00:00:29.235000
>> 22 [Timedelta('0 days 00:00:45.499000'), Timedelta('0 days 00:00:47.097000'), Timedelta('0 days 00:00:29.235000')]
........................
2 PreviousValue 0 days 00:00:29.235000
0 Value 0 days 00:00:31.259000
0 PreviousValue 0 days 00:00:31.259000
1 Value 0 days 00:00:46.886000
1 PreviousValue 0 days 00:00:46.886000
2 Value 0 days 00:00:29.078000
>> 23 [Timedelta('0 days 00:00:31.259000'), Timedelta('0 days 00:00:46.886000'), Timedelta('0 days 00:00:29.078000')]
........................
2 PreviousValue 0 days 00:00:29.078000
0 Value 0 days 00:00:31.333000
0 PreviousValue 0 days 00:00:31.333000
1 Value 0 days 00:00:47.399000
1 PreviousValue 0 days 00:00:47.399000
2 Value 0 days 00:00:29.090000
>> 24 [Timedelta('0 days 00:00:31.333000'), Timedelta('0 days 00:00:47.399000'), Timedelta('0 days 00:00:29.090000')]
........................
2 PreviousValue 0 days 00:00:29.090000
0 Value 0 days 00:00:31.343000
0 PreviousValue 0 days 00:00:31.343000
1 Value 0 days 00:00:47.231000
1 PreviousValue 0 days 00:00:47.231000
2 Value 0 days 00:00:29.093000
>> 25 [Timedelta('0 days 00:00:31.343000'), Timedelta('0 days 00:00:47.231000'), Timedelta('0 days 00:00:29.093000')]
........................
2 PreviousValue 0 days 00:00:29.093000
0 Value 0 days 00:00:31.404000
0 PreviousValue 0 days 00:00:31.404000
1 Value 0 days 00:00:47.520000
1 PreviousValue 0 days 00:00:47.520000
2 Value 0 days 00:00:29.124000
>> 26 [Timedelta('0 days 00:00:31.404000'), Timedelta('0 days 00:00:47.520000'), Timedelta('0 days 00:00:29.124000')]
........................
2 PreviousValue 0 days 00:00:29.124000
0 Value 0 days 00:00:31.285000
0 PreviousValue 0 days 00:00:31.285000
1 Value 0 days 00:00:47.326000
1 PreviousValue 0 days 00:00:47.326000
2 Value 0 days 00:00:29.014000
>> 27 [Timedelta('0 days 00:00:31.285000'), Timedelta('0 days 00:00:47.326000'), Timedelta('0 days 00:00:29.014000')]
........................
2 PreviousValue 0 days 00:00:29.014000
0 Value 0 days 00:00:31.264000
0 PreviousValue 0 days 00:00:31.264000
1 Value 0 days 00:00:47.353000
1 PreviousValue 0 days 00:00:47.353000
2 PreviousValue 0 days 00:00:29.083000
>> 28 [Timedelta('0 days 00:00:31.264000'), Timedelta('0 days 00:00:47.353000'), Timedelta('0 days 00:00:29.083000')]
........................
0 Value 0 days 00:00:31.187000
1 Value 0 days 00:00:47.312000
1 PreviousValue 0 days 00:00:47.312000
2 Value 0 days 00:00:28.971000
>> 29 [Timedelta('0 days 00:00:31.187000'), Timedelta('0 days 00:00:47.312000'), Timedelta('0 days 00:00:28.971000')]
........................
2 PreviousValue 0 days 00:00:28.971000
0 Value 0 days 00:00:31.169000
0 PreviousValue 0 days 00:00:31.169000
1 Value 0 days 00:00:48.727000
1 PreviousValue 0 days 00:00:48.727000
2 Value 0 days 00:00:28.982000
>> 30 [Timedelta('0 days 00:00:31.169000'), Timedelta('0 days 00:00:48.727000'), Timedelta('0 days 00:00:28.982000')]
........................
2 PreviousValue 0 days 00:00:28.982000
0 Value 0 days 00:00:31.005000
0 PreviousValue 0 days 00:00:31.005000
1 Value 0 days 00:00:48.343000
1 PreviousValue 0 days 00:00:48.343000
2 Value 0 days 00:00:28.987000
>> 31 [Timedelta('0 days 00:00:31.005000'), Timedelta('0 days 00:00:48.343000'), Timedelta('0 days 00:00:28.987000')]
........................
2 PreviousValue 0 days 00:00:28.987000
0 Value 0 days 00:00:31.302000
0 PreviousValue 0 days 00:00:31.302000
1 Value 0 days 00:00:47.611000
1 PreviousValue 0 days 00:00:47.611000
2 Value 0 days 00:00:29.103000
>> 32 [Timedelta('0 days 00:00:31.302000'), Timedelta('0 days 00:00:47.611000'), Timedelta('0 days 00:00:29.103000')]
........................
0 Value 0 days 00:00:31.216000
0 PreviousValue 0 days 00:00:31.216000
1 Value 0 days 00:00:47.190000
1 PreviousValue 0 days 00:00:47.190000
2 Value 0 days 00:00:29.224000
>> 33 [Timedelta('0 days 00:00:31.216000'), Timedelta('0 days 00:00:47.190000'), Timedelta('0 days 00:00:29.224000')]
........................
2 PreviousValue 0 days 00:00:29.224000
0 Value 0 days 00:00:31.160000
0 PreviousValue 0 days 00:00:31.160000
1 Value 0 days 00:00:47.778000
1 PreviousValue 0 days 00:00:47.778000
2 PreviousValue 0 days 00:00:29.279000
>> 34 [Timedelta('0 days 00:00:31.160000'), Timedelta('0 days 00:00:47.778000'), Timedelta('0 days 00:00:29.279000')]
........................
0 Value 0 days 00:00:31.208000
0 PreviousValue 0 days 00:00:31.208000
1 Value 0 days 00:00:47.458000
2 Value 0 days 00:00:29.177000
>> 35 [Timedelta('0 days 00:00:31.208000'), Timedelta('0 days 00:00:47.458000'), Timedelta('0 days 00:00:29.177000')]
........................
2 PreviousValue 0 days 00:00:29.177000
0 Value 0 days 00:00:31.205000
0 PreviousValue 0 days 00:00:31.205000
1 Value 0 days 00:00:47.674000
1 PreviousValue 0 days 00:00:47.674000
2 Value 0 days 00:00:29.135000
>> 36 [Timedelta('0 days 00:00:31.205000'), Timedelta('0 days 00:00:47.674000'), Timedelta('0 days 00:00:29.135000')]
........................
2 PreviousValue 0 days 00:00:29.135000
0 Value 0 days 00:00:31.170000
0 PreviousValue 0 days 00:00:31.170000
1 Value 0 days 00:00:47.618000
1 PreviousValue 0 days 00:00:47.618000
2 Value 0 days 00:00:29.269000
>> 37 [Timedelta('0 days 00:00:31.170000'), Timedelta('0 days 00:00:47.618000'), Timedelta('0 days 00:00:29.269000')]
........................
2 PreviousValue 0 days 00:00:29.269000
0 Value 0 days 00:00:31.147000
0 PreviousValue 0 days 00:00:31.147000
1 Value 0 days 00:00:47.455000
1 PreviousValue 0 days 00:00:47.455000
2 Value 0 days 00:00:29.181000
>> 38 [Timedelta('0 days 00:00:31.147000'), Timedelta('0 days 00:00:47.455000'), Timedelta('0 days 00:00:29.181000')]
........................
2 PreviousValue 0 days 00:00:29.181000
0 Value 0 days 00:00:31.161000
0 PreviousValue 0 days 00:00:31.161000
1 Value 0 days 00:00:48.875000
2 Value 0 days 00:00:29.236000
>> 39 [Timedelta('0 days 00:00:31.161000'), Timedelta('0 days 00:00:48.875000'), Timedelta('0 days 00:00:29.236000')]
........................
2 PreviousValue 0 days 00:00:29.236000
1 Value 0 days 00:00:47.643000
1 PreviousValue 0 days 00:00:47.643000
2 Value 0 days 00:00:29.073000
>> 40 [None, Timedelta('0 days 00:00:47.643000'), Timedelta('0 days 00:00:29.073000')]
........................
2 PreviousValue 0 days 00:00:29.073000
0 Value 0 days 00:00:31.159000
0 PreviousValue 0 days 00:00:31.159000
1 Value 0 days 00:00:47.712000
1 PreviousValue 0 days 00:00:47.712000
2 Value 0 days 00:00:28.969000
>> 41 [Timedelta('0 days 00:00:31.159000'), Timedelta('0 days 00:00:47.712000'), Timedelta('0 days 00:00:28.969000')]
........................
2 PreviousValue 0 days 00:00:28.969000
0 Value 0 days 00:00:31.201000
1 Value 0 days 00:00:47.601000
1 PreviousValue 0 days 00:00:47.601000
2 Value 0 days 00:00:34.064000
>> 42 [Timedelta('0 days 00:00:31.201000'), Timedelta('0 days 00:00:47.601000'), Timedelta('0 days 00:00:34.064000')]
........................
2 PreviousValue 0 days 00:00:34.064000
0 Value 0 days 00:00:45.784000
0 PreviousValue 0 days 00:00:45.784000
1 Value 0 days 00:00:47.705000
1 PreviousValue 0 days 00:00:47.705000
2 Value 0 days 00:00:30.034000
>> 43 [Timedelta('0 days 00:00:45.784000'), Timedelta('0 days 00:00:47.705000'), Timedelta('0 days 00:00:30.034000')]
........................
2 PreviousValue 0 days 00:00:30.034000
0 Value 0 days 00:00:30.808000
0 PreviousValue 0 days 00:00:30.808000
1 Value 0 days 00:00:45.309000
2 PreviousValue 0 days 00:00:28.584000
>> 44 [Timedelta('0 days 00:00:30.808000'), Timedelta('0 days 00:00:45.309000'), Timedelta('0 days 00:00:28.584000')]
........................

In [133]:
cols = ["Sectors_2_Value","Sectors_2_PreviousValue"]
df_test = df_11[["timestamp"] + cols].replace("",np.nan).dropna(subset=cols, how="all")
df_test["timestamp"] = pd.to_timedelta(df_test["timestamp"])

df_test["diff"] = df_test["timestamp"] - df_test["timestamp"].shift(1)
df_test
# df_test.dropna(subset="Sectors_2_PreviousValue")

,timestamp,Sectors_2_Value,Sectors_2_PreviousValue,diff
3199,0 days 00:57:08.631000,29.491,NaN,NaT
3215,0 days 00:57:10.473000,NaN,29.491,0 days 00:00:01.842000
4321,0 days 00:58:58.806000,29.668,NaN,0 days 00:01:48.333000
4325,0 days 00:58:59.549000,NaN,29.668,0 days 00:00:00.743000
5373,0 days 01:00:48.902000,29.600,NaN,0 days 00:01:49.353000
...,...,...,...,...
45395,0 days 02:12:07.298000,34.064,NaN,0 days 00:01:49.045000
45405,0 days 02:12:08.294000,NaN,34.064,0 days 00:00:00.996000
46572,0 days 02:14:10.678000,30.034,NaN,0 days 00:02:02.384000
46599,0 days 02:14:13.574000,NaN,30.034,0 days 00:00:02.896000
47478,0 days 02:15:58.766000,NaN,28.584,0 days 00:01:45.192000

In [27]:
df_11["Speeds_I1_Value"].unique()

array(['', nan, '316', '325', '314', '320', '312', '321', '315', '310',
       '329', '322', '328', '319', '313', '323', '317', '306', '307',
       '309', '311', '324', '303'], dtype=object)

In [29]:
df_11

,SessionKey,timestamp,DriverNo,GapToLeader,IntervalToPositionAhead_Value,IntervalToPositionAhead_Catching,Line,Position,ShowPosition,RacingNumber,...,Sectors_2_Segments_6_Status,Sectors_1_PreviousValue,NumberOfLaps,Sectors_2_PreviousValue,Sectors_0_Value,Sectors_0_OverallFastest,Sectors_0_PersonalFastest,Sectors_0_PreviousValue,BestLapTime_Lap,NumberOfPitStops
1,9574,00:00:03.734,11,,,False,2.0,2,True,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,9574,00:00:05.474,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,9574,00:11:50.163,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,9574,00:11:57.383,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,9574,00:12:02.357,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47461,9574,02:15:55.478,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47478,9574,02:15:58.766,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,28.584,NaN,NaN,NaN,NaN,NaN,NaN
47485,9574,02:15:59.906,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47636,9574,02:16:49.662,11,NaN,NaN,False,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47642,9574,02:17:07.716,11,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
def build_timing_table(df):

    timing_df = df.copy()

    timing_df["InPit"] = timing_df["InPit"].fillna(False).astype(int).cumsum()
    return timing_df[["timestamp","NumberOfLaps","NumberOfPitStops","InPit"]]

build_timing_table(df_11)

C:\Users\EU10698\AppData\Local\Temp\ipykernel_25744\2576228234.py:5: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  timing_df["InPit"] = timing_df["InPit"].fillna(False).astype(int).cumsum()

          timestamp  NumberOfLaps  NumberOfPitStops  InPit
1      00:00:03.734           NaN               NaN      1
21     00:00:05.474           NaN               NaN      1
57     00:11:50.163           NaN               NaN      1
66     00:11:57.383           NaN               NaN      1
73     00:12:02.357           NaN               NaN      1
...             ...           ...               ...    ...
47461  02:15:55.478           NaN               NaN      7
47478  02:15:58.766           NaN               NaN      7
47485  02:15:59.906           NaN               NaN      7
47636  02:16:49.662           NaN               NaN      7
47642  02:17:07.716           NaN               NaN      7

[2552 rows x 4 columns]

In [34]:
df_11[df_11["InPit"] == True]

,SessionKey,timestamp,DriverNo,GapToLeader,IntervalToPositionAhead_Value,IntervalToPositionAhead_Catching,Line,Position,ShowPosition,RacingNumber,...,Sectors_2_Segments_6_Status,Sectors_1_PreviousValue,NumberOfLaps,Sectors_2_PreviousValue,Sectors_0_Value,Sectors_0_OverallFastest,Sectors_0_PersonalFastest,Sectors_0_PreviousValue,BestLapTime_Lap,NumberOfPitStops
1,9574,00:00:03.734,11,,,False,2.0,2,True,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
385,9574,00:13:42.506,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
775,9574,00:15:51.157,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1236,9574,00:18:02.529,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13605,9574,01:15:29.327,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
24002,9574,01:33:57.247,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
45353,9574,02:12:03.159,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0