In [1]:
import livef1
from livef1.utils.constants import interpolation_map
from livef1.adapters.livetimingf1_adapter import livetimingF1_getdata

import pandas as pd
import numpy as np
from datetime import timedelta

import matplotlib.pyplot as plt

session = livef1.get_session(season=2024, meeting_identifier="Spa", session_identifier="Race")

2025-01-15 21:57:37,190 : livef1 : INFO :: Selected meeting/session is:
Meeting Offname : FORMULA 1 ROLEX BELGIAN GRAND PRIX 2024
Meeting Name : Belgian Grand Prix
Meeting Circuit Shortname : Spa-Francorchamps
2025-01-15 21:57:37,191 : livef1 : INFO :: The meeting was received successfully.
2025-01-15 21:57:37,194 : livef1 : INFO :: Selected meeting/session is:
Session Name : Race
2025-01-15 21:57:37,194 : livef1 : INFO :: The session was received successfully.

In [2]:
res = session.get_data(dataName="Timing_Data")
df_exp = pd.DataFrame(res.value)
df_exp

2025-01-15 21:57:38,132 : livef1 : INFO :: Getting requested data.
Selected session : 2024 Belgian Grand Prix Race
Topic : TimingData
2025-01-15 21:57:39,087 : livef1 : INFO :: Data is successfully received.
2025-01-15 21:57:39,224 : livef1 : INFO :: Data is successfully parsed.

,SessionKey,timestamp,DriverNo,GapToLeader,IntervalToPositionAhead_Value,IntervalToPositionAhead_Catching,Line,Position,ShowPosition,RacingNumber,...,Sectors_2_Segments_6_Status,Sectors_1_PreviousValue,NumberOfLaps,Sectors_2_PreviousValue,Sectors_0_Value,Sectors_0_OverallFastest,Sectors_0_PersonalFastest,Sectors_0_PreviousValue,BestLapTime_Lap,NumberOfPitStops
0,9574,00:00:03.734,16,,,False,1.0,1,True,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9574,00:00:03.734,11,,,False,2.0,2,True,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9574,00:00:03.734,44,,,False,3.0,3,True,44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9574,00:00:03.734,4,,,False,4.0,4,True,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9574,00:00:03.734,81,,,False,5.0,5,True,81,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53035,9574,02:17:07.716,1,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53036,9574,02:17:07.716,10,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53037,9574,02:17:07.716,77,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53038,9574,02:17:07.716,20,NaN,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53039,9574,02:17:07.716,24,39L,39L,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_11 = df_exp[df_exp["DriverNo"] == "11"]
# df_11 = df_exp[df_exp["DriverNo"] == "24"]

In [11]:
sector_cols = {
    "Sectors_0_Value" : "sector1_time",
    "Sectors_1_Value" : "sector2_time",
    "Sectors_2_Value" : "sector3_time",
    "Sectors_0_PreviousValue" : None,
    "Sectors_1_PreviousValue" : None,
    "Sectors_2_PreviousValue" : None
}

segment_cols = {col:f"S{col.split('_')[1]}_segment{col.split('_')[3]}_status" for col in df_11.columns if ("Sectors" in col) & ("Segments" in col)}

speedTrap_cols = {
    "Speeds_I1_Value" : "speed_I1",
    "Speeds_I2_Value" : "speed_I2",
    "Speeds_FL_Value" : "speed_FL",
    "Speeds_ST_Value" : "speed_ST",
}
pit_cols = {
    "InPit" : "in_pit",
    "PitOut" : "pit_out"
}

base_cols = {
    "NumberOfLaps" : "lap_number",
    "LastLapTime_Value" : "lap_time"
    }

extra_cols = ["no_pits"]

col_map = {**base_cols, **pit_cols, **sector_cols, **speedTrap_cols} #, **segment_cols}
cols = list(base_cols.values()) + list(pit_cols.values()) + list(sector_cols.values()) + list(speedTrap_cols.values())  # + list(segment_cols.values())
raw_cols = list(base_cols.keys()) + list(pit_cols.keys()) + list(sector_cols.keys()) + list(speedTrap_cols.keys()) # + list(segment_cols.keys())


def str_timedelta(x):
    if isinstance(x,str):
        count_sep = x.count(":")

        if count_sep == 0:
            return "00:00:" + x
        elif count_sep == 1:
            return "00:" + x
        else: return x
    else:
        return x


df_test = df_11[["timestamp"] + raw_cols].dropna(subset=raw_cols, how="all").replace('',np.nan)


for col in ["Sectors_0_Value","Sectors_1_Value","Sectors_2_Value", "Sectors_0_PreviousValue","Sectors_1_PreviousValue","Sectors_2_PreviousValue", "LastLapTime_Value"]:
    df_test[col] = df_test[col]
    df_test[col] = pd.to_timedelta(df_test[col].apply(str_timedelta))

def enter_new_lap(laps, record):
    print(">>", record)
    if laps is None and record is None:
        no_pits = 0
        laps = []
        record = {key:None if key != "lap_number" else 1 for key in cols}
        record["no_pits"] = no_pits
        return [], record, timedelta(seconds=0)

    if record["lap_time"] is None:
        record["lap_time"] = record["sector1_time"] + record["sector2_time"] + record["sector3_time"]

    laps.append(record)

    no_pits = record["no_pits"]
    record = {key:None if key != "lap_number" else val+1 for key, val in record.items()}
    record["no_pits"] = no_pits

    return laps, record


new_lap_allowed = True
laps, record, last_record_ts = enter_new_lap(None, None)

for idx,row in df_test.iterrows():
    ts = pd.to_timedelta(row.timestamp)
    
    for sc_key, sc_value in row[list(speedTrap_cols.keys()) + ["LastLapTime_Value"]].dropna().to_dict().items():
        record[col_map[sc_key]] = sc_value
    
    for sc_key, sc_value in row[list(pit_cols.keys())].dropna().to_dict().items():
        if sc_key == "InPit":
            if sc_value == 1:
                record[col_map[sc_key]] = ts
            # else:
            #     record[col_map[sc_key]] = None
        elif sc_key == "PitOut":
            if sc_value == True:
                record[col_map[sc_key]] = ts
                record["no_pits"] += 1
    
    for sc_key, sc_value in row[list(sector_cols.keys())].dropna().to_dict().items():
        sc_no = int(sc_key.split("_")[1])
        key_type = sc_key.split("_")[2]
        # print(sc_no, "||", ts, "||", key_type, sc_value)

        if key_type == "Value":
            if record[f"sector{str(sc_no + 1)}_time"] == None:
                record[f"sector{str(sc_no + 1)}_time"] = sc_value
                last_record_ts = ts
                if sc_no == 2:
                    # entering new lap
                    laps, record = enter_new_lap(laps, record)
            elif sc_value == record[str(sc_no + 1)]: pass
            elif ts - last_record_ts > timedelta(seconds=10):
                # entering new lap
                laps, record = enter_new_lap(laps, record)
                record[f"sector{str(sc_no + 1)}_time"] = sc_value
                last_record_ts = ts

        elif key_type == "PreviousValue" and ts - last_record_ts > timedelta(seconds=10):
            record[f"sector{str(sc_no + 1)}_time"] = sc_value
            last_record_ts = ts
            if sc_no == 2:
                # entering new lap
                laps, record = enter_new_lap(laps, record)

laps_df = pd.DataFrame(laps)

segments = ["sector1_time","sector2_time","sector3_time"]
for idx in range(len(segments)):
    rest = np.delete(segments, idx)
    laps_df[segments[idx]] = (laps_df[segments[idx]].fillna(timedelta(minutes=0)) + (laps_df[segments[idx]].isnull() & (laps_df["lap_number"] > 1)) * (laps_df[segments[idx]].isnull() * (laps_df["lap_time"].fillna(timedelta(minutes=0)) - laps_df[rest].sum(axis=1)))).replace(timedelta(minutes=0), np.timedelta64("NaT"))

laps_df

>> None
>> {'lap_number': 1, 'lap_time': None, 'in_pit': Timedelta('0 days 00:18:02.529000'), 'pit_out': None, 'sector1_time': None, 'sector2_time': Timedelta('0 days 00:00:50.038000'), 'sector3_time': Timedelta('0 days 00:00:29.491000'), None: None, 'speed_I1': '316', 'speed_I2': '201', 'speed_FL': '216', 'speed_ST': '310', 'no_pits': 0}
>> {'lap_number': 2, 'lap_time': Timedelta('0 days 00:01:50.240000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.365000'), 'sector2_time': Timedelta('0 days 00:00:49.207000'), 'sector3_time': Timedelta('0 days 00:00:29.668000'), None: None, 'speed_I1': '325', 'speed_I2': '202', 'speed_FL': '217', 'speed_ST': '308', 'no_pits': 0}
>> {'lap_number': 3, 'lap_time': Timedelta('0 days 00:01:49.983000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.470000'), 'sector2_time': Timedelta('0 days 00:00:48.913000'), 'sector3_time': Timedelta('0 days 00:00:29.600000'), None: None, 'speed_I1': '314', 'speed_I2': '201', 'speed_FL': '218', 'speed_ST': '309', 'no_pits': 0}
>> {'lap_number': 4, 'lap_time': Timedelta('0 days 00:01:49.790000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.356000'), 'sector2_time': Timedelta('0 days 00:00:49.032000'), 'sector3_time': Timedelta('0 days 00:00:29.402000'), None: None, 'speed_I1': '320', 'speed_I2': '199', 'speed_FL': '218', 'speed_ST': None, 'no_pits': 0}
>> {'lap_number': 5, 'lap_time': Timedelta('0 days 00:01:49.896000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.447000'), 'sector2_time': Timedelta('0 days 00:00:48.958000'), 'sector3_time': Timedelta('0 days 00:00:29.491000'), None: None, 'speed_I1': '319', 'speed_I2': '197', 'speed_FL': '215', 'speed_ST': '311', 'no_pits': 0}
>> {'lap_number': 6, 'lap_time': Timedelta('0 days 00:01:50.129000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.583000'), 'sector2_time': Timedelta('0 days 00:00:49.116000'), 'sector3_time': Timedelta('0 days 00:00:29.430000'), None: None, 'speed_I1': '312', 'speed_I2': '198', 'speed_FL': '215', 'speed_ST': None, 'no_pits': 0}
>> {'lap_number': 7, 'lap_time': Timedelta('0 days 00:01:49.637000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.524000'), 'sector2_time': Timedelta('0 days 00:00:48.599000'), 'sector3_time': Timedelta('0 days 00:00:29.514000'), None: None, 'speed_I1': '321', 'speed_I2': '200', 'speed_FL': '215', 'speed_ST': '309', 'no_pits': 0}
>> {'lap_number': 8, 'lap_time': Timedelta('0 days 00:01:49.912000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.530000'), 'sector2_time': Timedelta('0 days 00:00:48.828000'), 'sector3_time': Timedelta('0 days 00:00:29.554000'), None: None, 'speed_I1': '314', 'speed_I2': '199', 'speed_FL': '216', 'speed_ST': '310', 'no_pits': 0}
>> {'lap_number': 9, 'lap_time': Timedelta('0 days 00:01:50.286000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.506000'), 'sector2_time': Timedelta('0 days 00:00:49.173000'), 'sector3_time': Timedelta('0 days 00:00:29.607000'), None: None, 'speed_I1': '315', 'speed_I2': '199', 'speed_FL': '216', 'speed_ST': None, 'no_pits': 0}
>> {'lap_number': 10, 'lap_time': Timedelta('0 days 00:01:50.057000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.598000'), 'sector2_time': Timedelta('0 days 00:00:48.943000'), 'sector3_time': Timedelta('0 days 00:00:29.516000'), None: None, 'speed_I1': '314', 'speed_I2': '198', 'speed_FL': '216', 'speed_ST': '309', 'no_pits': 0}
>> {'lap_number': 11, 'lap_time': Timedelta('0 days 00:01:54.844000'), 'in_pit': Timedelta('0 days 01:15:29.327000'), 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.528000'), 'sector2_time': Timedelta('0 days 00:00:49.036000'), 'sector3_time': Timedelta('0 days 00:00:34.280000'), None: None, 'speed_I1': '310', 'speed_I2': '197', 'speed_FL': None, 'speed_ST': None, 'no_pits': 0}
>> {'lap_number': 12, 'lap_time': Timedelta('0 days 00:02:03.704000'), 'in_pit': None, 'pit_out': Timedelta('0 days 01:15:51.964000'), 'sector1_time': Timedelta('0 days 00:00:44.973000'), 'sector2_time': Timedelta('0 days 00:00:49.368000'), 'sector3_time': Timedelta('0 days 00:00:29.363000'), None: None, 'speed_I1': '329', 'speed_I2': '198', 'speed_FL': '221', 'speed_ST': '310', 'no_pits': 1}
>> {'lap_number': 13, 'lap_time': Timedelta('0 days 00:01:48.772000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.062000'), 'sector2_time': Timedelta('0 days 00:00:48.626000'), 'sector3_time': Timedelta('0 days 00:00:29.084000'), None: None, 'speed_I1': '322', 'speed_I2': '202', 'speed_FL': '221', 'speed_ST': '311', 'no_pits': 1}
>> {'lap_number': 14, 'lap_time': Timedelta('0 days 00:01:48.394000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:30.765000'), 'sector2_time': Timedelta('0 days 00:00:48.478000'), 'sector3_time': Timedelta('0 days 00:00:29.151000'), None: None, 'speed_I1': '328', 'speed_I2': '203', 'speed_FL': '219', 'speed_ST': '313', 'no_pits': 1}
>> {'lap_number': 15, 'lap_time': Timedelta('0 days 00:01:48.305000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.119000'), 'sector2_time': Timedelta('0 days 00:00:48.083000'), 'sector3_time': Timedelta('0 days 00:00:29.103000'), None: None, 'speed_I1': '319', 'speed_I2': '204', 'speed_FL': '217', 'speed_ST': None, 'no_pits': 1}
>> {'lap_number': 16, 'lap_time': Timedelta('0 days 00:01:48.504000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.333000'), 'sector2_time': Timedelta('0 days 00:00:48.045000'), 'sector3_time': Timedelta('0 days 00:00:29.126000'), None: None, 'speed_I1': '313', 'speed_I2': '201', 'speed_FL': '218', 'speed_ST': None, 'no_pits': 1}
>> {'lap_number': 17, 'lap_time': Timedelta('0 days 00:01:48.492000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.332000'), 'sector2_time': Timedelta('0 days 00:00:47.969000'), 'sector3_time': Timedelta('0 days 00:00:29.191000'), None: None, 'speed_I1': '314', 'speed_I2': '200', 'speed_FL': '217', 'speed_ST': '311', 'no_pits': 1}
>> {'lap_number': 18, 'lap_time': Timedelta('0 days 00:01:48.554000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.237000'), 'sector2_time': Timedelta('0 days 00:00:48.064000'), 'sector3_time': Timedelta('0 days 00:00:29.253000'), None: None, 'speed_I1': '315', 'speed_I2': '201', 'speed_FL': '217', 'speed_ST': None, 'no_pits': 1}
>> {'lap_number': 19, 'lap_time': Timedelta('0 days 00:01:48.695000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.390000'), 'sector2_time': Timedelta('0 days 00:00:48.119000'), 'sector3_time': Timedelta('0 days 00:00:29.186000'), None: None, 'speed_I1': '313', 'speed_I2': '201', 'speed_FL': '217', 'speed_ST': '312', 'no_pits': 1}
>> {'lap_number': 20, 'lap_time': Timedelta('0 days 00:01:49.663000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.422000'), 'sector2_time': Timedelta('0 days 00:00:48.809000'), 'sector3_time': Timedelta('0 days 00:00:29.432000'), None: None, 'speed_I1': '323', 'speed_I2': '202', 'speed_FL': '217', 'speed_ST': '309', 'no_pits': 1}
>> {'lap_number': 21, 'lap_time': Timedelta('0 days 00:01:54.682000'), 'in_pit': Timedelta('0 days 01:33:57.247000'), 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.513000'), 'sector2_time': Timedelta('0 days 00:00:49.184000'), 'sector3_time': Timedelta('0 days 00:00:33.985000'), None: None, 'speed_I1': '317', 'speed_I2': '200', 'speed_FL': None, 'speed_ST': '310', 'no_pits': 1}
>> {'lap_number': 22, 'lap_time': Timedelta('0 days 00:02:01.831000'), 'in_pit': None, 'pit_out': Timedelta('0 days 01:34:19.799000'), 'sector1_time': Timedelta('0 days 00:00:45.499000'), 'sector2_time': Timedelta('0 days 00:00:47.097000'), 'sector3_time': Timedelta('0 days 00:00:29.235000'), None: None, 'speed_I1': '306', 'speed_I2': '207', 'speed_FL': '219', 'speed_ST': '304', 'no_pits': 2}
>> {'lap_number': 23, 'lap_time': Timedelta('0 days 00:01:47.223000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.259000'), 'sector2_time': Timedelta('0 days 00:00:46.886000'), 'sector3_time': Timedelta('0 days 00:00:29.078000'), None: None, 'speed_I1': '307', 'speed_I2': '205', 'speed_FL': '219', 'speed_ST': '308', 'no_pits': 2}
>> {'lap_number': 24, 'lap_time': Timedelta('0 days 00:01:47.822000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.333000'), 'sector2_time': Timedelta('0 days 00:00:47.399000'), 'sector3_time': Timedelta('0 days 00:00:29.090000'), None: None, 'speed_I1': None, 'speed_I2': '205', 'speed_FL': '220', 'speed_ST': '309', 'no_pits': 2}
>> {'lap_number': 25, 'lap_time': Timedelta('0 days 00:01:47.667000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.343000'), 'sector2_time': Timedelta('0 days 00:00:47.231000'), 'sector3_time': Timedelta('0 days 00:00:29.093000'), None: None, 'speed_I1': '309', 'speed_I2': '207', 'speed_FL': '219', 'speed_ST': None, 'no_pits': 2}
>> {'lap_number': 26, 'lap_time': Timedelta('0 days 00:01:48.048000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.404000'), 'sector2_time': Timedelta('0 days 00:00:47.520000'), 'sector3_time': Timedelta('0 days 00:00:29.124000'), None: None, 'speed_I1': '310', 'speed_I2': '204', 'speed_FL': '220', 'speed_ST': '311', 'no_pits': 2}
>> {'lap_number': 27, 'lap_time': Timedelta('0 days 00:01:47.625000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.285000'), 'sector2_time': Timedelta('0 days 00:00:47.326000'), 'sector3_time': Timedelta('0 days 00:00:29.014000'), None: None, 'speed_I1': '311', 'speed_I2': '206', 'speed_FL': '218', 'speed_ST': None, 'no_pits': 2}
>> {'lap_number': 28, 'lap_time': Timedelta('0 days 00:01:47.700000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.264000'), 'sector2_time': Timedelta('0 days 00:00:47.353000'), 'sector3_time': Timedelta('0 days 00:00:29.083000'), None: None, 'speed_I1': '310', 'speed_I2': '204', 'speed_FL': '220', 'speed_ST': None, 'no_pits': 2}
>> {'lap_number': 29, 'lap_time': Timedelta('0 days 00:01:47.470000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.187000'), 'sector2_time': Timedelta('0 days 00:00:47.312000'), 'sector3_time': Timedelta('0 days 00:00:28.971000'), None: None, 'speed_I1': '311', 'speed_I2': '204', 'speed_FL': '219', 'speed_ST': '312', 'no_pits': 2}
>> {'lap_number': 30, 'lap_time': Timedelta('0 days 00:01:48.878000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.169000'), 'sector2_time': Timedelta('0 days 00:00:48.727000'), 'sector3_time': Timedelta('0 days 00:00:28.982000'), None: None, 'speed_I1': '313', 'speed_I2': '203', 'speed_FL': '220', 'speed_ST': '311', 'no_pits': 2}
>> {'lap_number': 31, 'lap_time': Timedelta('0 days 00:01:48.335000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.005000'), 'sector2_time': Timedelta('0 days 00:00:48.343000'), 'sector3_time': Timedelta('0 days 00:00:28.987000'), None: None, 'speed_I1': '324', 'speed_I2': '204', 'speed_FL': '220', 'speed_ST': '314', 'no_pits': 2}
>> {'lap_number': 32, 'lap_time': Timedelta('0 days 00:01:48.016000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.302000'), 'sector2_time': Timedelta('0 days 00:00:47.611000'), 'sector3_time': Timedelta('0 days 00:00:29.103000'), None: None, 'speed_I1': '313', 'speed_I2': '204', 'speed_FL': '220', 'speed_ST': None, 'no_pits': 2}
>> {'lap_number': 33, 'lap_time': Timedelta('0 days 00:01:47.630000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.216000'), 'sector2_time': Timedelta('0 days 00:00:47.190000'), 'sector3_time': Timedelta('0 days 00:00:29.224000'), None: None, 'speed_I1': '311', 'speed_I2': '205', 'speed_FL': '219', 'speed_ST': '313', 'no_pits': 2}
>> {'lap_number': 34, 'lap_time': Timedelta('0 days 00:01:48.217000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.160000'), 'sector2_time': Timedelta('0 days 00:00:47.778000'), 'sector3_time': Timedelta('0 days 00:00:29.279000'), None: None, 'speed_I1': '312', 'speed_I2': '204', 'speed_FL': '220', 'speed_ST': '314', 'no_pits': 2}
>> {'lap_number': 35, 'lap_time': Timedelta('0 days 00:01:47.843000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.208000'), 'sector2_time': Timedelta('0 days 00:00:47.458000'), 'sector3_time': Timedelta('0 days 00:00:29.177000'), None: None, 'speed_I1': '311', 'speed_I2': '203', 'speed_FL': '219', 'speed_ST': '313', 'no_pits': 2}
>> {'lap_number': 36, 'lap_time': Timedelta('0 days 00:01:48.014000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.205000'), 'sector2_time': Timedelta('0 days 00:00:47.674000'), 'sector3_time': Timedelta('0 days 00:00:29.135000'), None: None, 'speed_I1': '313', 'speed_I2': '205', 'speed_FL': '221', 'speed_ST': '312', 'no_pits': 2}
>> {'lap_number': 37, 'lap_time': Timedelta('0 days 00:01:48.057000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.170000'), 'sector2_time': Timedelta('0 days 00:00:47.618000'), 'sector3_time': Timedelta('0 days 00:00:29.269000'), None: None, 'speed_I1': '312', 'speed_I2': '205', 'speed_FL': '221', 'speed_ST': '311', 'no_pits': 2}
>> {'lap_number': 38, 'lap_time': Timedelta('0 days 00:01:47.783000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.147000'), 'sector2_time': Timedelta('0 days 00:00:47.455000'), 'sector3_time': Timedelta('0 days 00:00:29.181000'), None: None, 'speed_I1': '309', 'speed_I2': '204', 'speed_FL': '221', 'speed_ST': '312', 'no_pits': 2}
>> {'lap_number': 39, 'lap_time': Timedelta('0 days 00:01:49.272000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.161000'), 'sector2_time': Timedelta('0 days 00:00:48.875000'), 'sector3_time': Timedelta('0 days 00:00:29.236000'), None: None, 'speed_I1': '320', 'speed_I2': '202', 'speed_FL': '220', 'speed_ST': '313', 'no_pits': 2}
>> {'lap_number': 40, 'lap_time': Timedelta('0 days 00:01:47.896000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.180000'), 'sector2_time': Timedelta('0 days 00:00:47.643000'), 'sector3_time': Timedelta('0 days 00:00:29.073000'), None: None, 'speed_I1': '312', 'speed_I2': '205', 'speed_FL': '221', 'speed_ST': '315', 'no_pits': 2}
>> {'lap_number': 41, 'lap_time': Timedelta('0 days 00:01:47.840000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.159000'), 'sector2_time': Timedelta('0 days 00:00:47.712000'), 'sector3_time': Timedelta('0 days 00:00:28.969000'), None: None, 'speed_I1': '314', 'speed_I2': '205', 'speed_FL': '221', 'speed_ST': '313', 'no_pits': 2}
>> {'lap_number': 42, 'lap_time': Timedelta('0 days 00:01:52.866000'), 'in_pit': Timedelta('0 days 02:12:03.159000'), 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:31.201000'), 'sector2_time': Timedelta('0 days 00:00:47.601000'), 'sector3_time': Timedelta('0 days 00:00:34.064000'), None: None, 'speed_I1': '312', 'speed_I2': '203', 'speed_FL': None, 'speed_ST': '315', 'no_pits': 2}
>> {'lap_number': 43, 'lap_time': Timedelta('0 days 00:02:03.523000'), 'in_pit': None, 'pit_out': Timedelta('0 days 02:12:25.875000'), 'sector1_time': Timedelta('0 days 00:00:45.784000'), 'sector2_time': Timedelta('0 days 00:00:47.705000'), 'sector3_time': Timedelta('0 days 00:00:30.034000'), None: None, 'speed_I1': '303', 'speed_I2': '204', 'speed_FL': '225', 'speed_ST': '289', 'no_pits': 3}
>> {'lap_number': 44, 'lap_time': Timedelta('0 days 00:01:44.701000'), 'in_pit': None, 'pit_out': None, 'sector1_time': Timedelta('0 days 00:00:30.808000'), 'sector2_time': Timedelta('0 days 00:00:45.309000'), 'sector3_time': Timedelta('0 days 00:00:28.584000'), None: None, 'speed_I1': '315', 'speed_I2': '210', 'speed_FL': '224', 'speed_ST': '312', 'no_pits': 3}

,lap_number,lap_time,in_pit,pit_out,sector1_time,sector2_time,sector3_time,None,speed_I1,speed_I2,speed_FL,speed_ST,no_pits
0,1,NaT,0 days 00:18:02.529000,NaT,NaT,0 days 00:00:50.038000,0 days 00:00:29.491000,None,316,201,216,310,0
1,2,0 days 00:01:50.240000,NaT,NaT,0 days 00:00:31.365000,0 days 00:00:49.207000,0 days 00:00:29.668000,None,325,202,217,308,0
2,3,0 days 00:01:49.983000,NaT,NaT,0 days 00:00:31.470000,0 days 00:00:48.913000,0 days 00:00:29.600000,None,314,201,218,309,0
3,4,0 days 00:01:49.790000,NaT,NaT,0 days 00:00:31.356000,0 days 00:00:49.032000,0 days 00:00:29.402000,None,320,199,218,None,0
4,5,0 days 00:01:49.896000,NaT,NaT,0 days 00:00:31.447000,0 days 00:00:48.958000,0 days 00:00:29.491000,None,319,197,215,311,0
5,6,0 days 00:01:50.129000,NaT,NaT,0 days 00:00:31.583000,0 days 00:00:49.116000,0 days 00:00:29.430000,None,312,198,215,None,0
6,7,0 days 00:01:49.637000,NaT,NaT,0 days 00:00:31.524000,0 days 00:00:48.599000,0 days 00:00:29.514000,None,321,200,215,309,0
7,8,0 days 00:01:49.912000,NaT,NaT,0 days 00:00:31.530000,0 days 00:00:48.828000,0 days 00:00:29.554000,None,314,199,216,310,0
8,9,0 days 00:01:50.286000,NaT,NaT,0 days 00:00:31.506000,0 days 00:00:49.173000,0 days 00:00:29.607000,None,315,199,216,None,0
9,10,0 days 00:01:50.057000,NaT,NaT,0 days 00:00:31.598000,0 days 00:00:48.943000,0 days 00:00:29.516000,None,314,198,216,309,0
10,11,0 days 00:01:54.844000,0 days 01:15:29.327000,NaT,0 days 00:00:31.528000,0 days 00:00:49.036000,0 days 00:00:34.280000,None,310,197,None,None,0
11,12,0 days 00:02:03.704000,NaT,0 days 01:15:51.964000,0 days 00:00:44.973000,0 days 00:00:49.368000,0 days 00:00:29.363000,None,329,198,221,310,1
12,13,0 days 00:01:48.772000,NaT,NaT,0 days 00:00:31.062000,0 days 00:00:48.626000,0 days 00:00:29.084000,None,322,202,221,311,1
13,14,0 days 00:01:48.394000,NaT,NaT,0 days 00:00:30.765000,0 days 00:00:48.478000,0 days 00:00:29.151000,None,328,203,219,313,1
14,15,0 days 00:01:48.305000,NaT,NaT,0 days 00:00:31.119000,0 days 00:00:48.083000,0 days 00:00:29.103000,None,319,204,217,None,1
15,16,0 days 00:01:48.504000,NaT,NaT,0 days 00:00:31.333000,0 days 00:00:48.045000,0 days 00:00:29.126000,None,313,201,218,None,1
16,17,0 days 00:01:48.492000,NaT,NaT,0 days 00:00:31.332000,0 days 00:00:47.969000,0 days 00:00:29.191000,None,314,200,217,311,1
17,18,0 days 00:01:48.554000,NaT,NaT,0 days 00:00:31.237000,0 days 00:00:48.064000,0 days 00:00:29.253000,None,315,201,217,None,1
18,19,0 days 00:01:48.695000,NaT,NaT,0 days 00:00:31.390000,0 days 00:00:48.119000,0 days 00:00:29.186000,None,313,201,217,312,1
19,20,0 days 00:01:49.663000,NaT,NaT,0 days 00:00:31.422000,0 days 00:00:48.809000,0 days 00:00:29.432000,None,323,202,217,309,1
20,21,0 days 00:01:54.682000,0 days 01:33:57.247000,NaT,0 days 00:00:31.513000,0 days 00:00:49.184000,0 days 00:00:33.985000,None,317,200,None,310,1
21,22,0 days 00:02:01.831000,NaT,0 days 01:34:19.799000,0 days 00:00:45.499000,0 days 00:00:47.097000,0 days 00:00:29.235000,None,306,207,219,304,2
22,23,0 days 00:01:47.223000,NaT,NaT,0 days 00:00:31.259000,0 days 00:00:46.886000,0 days 00:00:29.078000,None,307,205,219,308,2
23,24,0 days 00:01:47.822000,NaT,NaT,0 days 00:00:31.333000,0 days 00:00:47.399000,0 days 00:00:29.090000,None,None,205,220,309,2
24,25,0 days 00:01:47.667000,NaT,NaT,0 days 00:00:31.343000,0 days 00:00:47.231000,0 days 00:00:29.093000,None,309,207,219,None,2
25,26,0 days 00:01:48.048000,NaT,NaT,0 days 00:00:31.404000,0 days 00:00:47.520000,0 days 00:00:29.124000,None,310,204,220,311,2
26,27,0 days 00:01:47.625000,NaT,NaT,0 days 00:00:31.285000,0 days 00:00:47.326000,0 days 00:00:29.014000,None,311,206,218,None,2
27,28,0 days 00:01:47.700000,NaT,NaT,0 days 00:00:31.264000,0 days 00:00:47.353000,0 days 00:00:29.083000,None,310,204,220,None,2
28,29,0 days 00:01:47.470000,NaT,NaT,0 days 00:00:31.187000,0 days 00:00:47.312000,0 days 00:00:28.971000,None,311,204,219,312,2
29,30,0 days 00:01:48.878000,NaT,NaT,0 days 00:00:31.169000,0 days 00:00:48.727000,0 days 00:00:28.982000,None,313,203,220,311,2
30,31,0 days 00:01:48.335000,NaT,NaT,0 days 00:00:31.005000,0 days 00:00:48.343000,0 days 00:00:28.987000,None,324,204,220,314,2
31,32,0 days 00:01:48.016000,NaT,NaT,0 days 00:00:31.302000,0 days 00:00:47.611000,0 days 00:00:29.103000,None,313,204,220,None,2
32,33,0 days 00:01:47.630000,NaT,NaT,0 days 00:00:31.216000,0 days 00:00:47.190000,0 days 00:00:29.224000,None,311,205,219,313,2
33,34,0 days 00:01:48.217000,NaT,NaT,0 days 00:00:31.160000,0 days 00:00:47.778000,0 days 00:00:29.279000,None,312,204,220,314,2
34,35,0 days 00:01:47.843000,NaT,NaT,0 days 00:00:31.208000,0 days 00:00:47.458000,0 days 00:00:29.177000,None,311,203,219,313,2
35,36,0 days 00:01:48.014000,NaT,NaT,0 days 00:00:31.205000,0 days 00:00:47.674000,0 days 00:00:29.135000,None,313,205,221,312,2
36,37,0 days 00:01:48.057000,NaT,NaT,0 days 00:00:31.170000,0 days 00:00:47.618000,0 days 00:00:29.269000,None,312,205,221,311,2
37,38,0 days 00:01:47.783000,NaT,NaT,0 days 00:00:31.147000,0 days 00:00:47.455000,0 days 00:00:29.181000,None,309,204,221,312,2
38,39,0 days 00:01:49.272000,NaT,NaT,0 days 00:00:31.161000,0 days 00:00:48.875000,0 days 00:00:29.236000,None,320,202,220,313,2
39,40,0 days 00:01:47.896000,NaT,NaT,0 days 00:00:31.180000,0 days 00:00:47.643000,0 days 00:00:29.073000,None,312,205,221,315,2
40,41,0 days 00:01:47.840000,NaT,NaT,0 days 00:00:31.159000,0 days 00:00:47.712000,0 days 00:00:28.969000,None,314,205,221,313,2
41,42,0 days 00:01:52.866000,0 days 02:12:03.159000,NaT,0 days 00:00:31.201000,0 days 00:00:47.601000,0 days 00:00:34.064000,None,312,203,None,315,2
42,43,0 days 00:02:03.523000,NaT,0 days 02:12:25.875000,0 days 00:00:45.784000,0 days 00:00:47.705000,0 days 00:00:30.034000,None,303,204,225,289,3
43,44,0 days 00:01:44.701000,NaT,NaT,0 days 00:00:30.808000,0 days 00:00:45.309000,0 days 00:00:28.584000,None,315,210,224,312,3

In [ ]:
# 2048 - Yellow

In [3]:
url = session.path + "TimingData.jsonStream"
res = livetimingF1_getdata(url, True)

In [4]:
for rec in res:
    if rec[0] == '02:12:25.875':
        print(rec[1])

{'Lines': {'11': {'InPit': False, 'PitOut': True, 'Status': 608, 'Sectors': {'0': {'Value': ''}, '1': {'Value': ''}, '2': {'Value': ''}}, 'Speeds': {'I1': {'Value': ''}, 'I2': {'Value': ''}, 'ST': {'Value': ''}}}, '22': {'Sectors': {'1': {'PreviousValue': '48.412'}}}}}
{'Lines': {'14': {'Sectors': {'2': {'Segments': {'6': {'Status': 2048}}}}}}}
{'Lines': {'77': {'GapToLeader': '+69.509', 'IntervalToPositionAhead': {'Value': '+4.663'}}}}